{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<style
    nonce="OWNlOTE2OWY3NDQ4ZmY2NjhiYzJkY2M5MzY0ZmY5MmVjNDcyN2Q0ODg1NGMwM2Y3Y2MyODE5OTU3MDdlYjY5YTY0NzE0ZjljNjYwMzM1ZThlYWI4NDBjZjNmNjlhMzlkYzkxODg0NTNkZmQyNGNkYTIyYTI0ZjRhNGE0YzdiYWI=">
    .sp-page-builder .page-content #section-id-1651219595796 {
        padding-top: 120px;
        padding-right: 0px;
        padding-bottom: 60px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        background-color: #ffffff;
        box-shadow: 0 0 0 0 #ffffff;
    }

    #column-id-1651219595795 {
        box-shadow: 0 0 0 0 #fff;
    }

    #sppb-addon-wrapper-1651219595799 {
        margin: 0px 0px 0px 0px;
    }

    #sppb-addon-1651219595799 {
        box-shadow: 0 0 0 0 #ffffff;
    }

    #sppb-addon-1651219595799 .sppb-carousel-extended-nav-control .nav-control {
        height: 80px;
        line-height: 80px;
        width: 80px;
        background: #ffffff;
        color: #323131;
        font-size: 15px;
        border-color: rgba(255, 255, 255, 0);
        border-radius: 100px;
        margin-left: 12px;
        margin-right: 12px;
    }

    #sppb-addon-1651219595799 .sppb-carousel-extended-nav-control .nav-control:hover {
        background-color: var(--hover_color);
        color: #ffffff;
        border-color: rgba(255, 255, 255, 0);
    }

    #sppb-addon-1651219595799 .sppb-carousel-extended-dots ul li {
        height: 4px;
        line-height: 4px;
        width: 25px;
    }

    #sppb-addon-1651219595799 .sppb-carousel-extended-item-overlay {
        background: -webkit-linear-gradient(125deg, rgba(59, 25, 208, 0.5) 2%, rgba(255, 79, 226, 0.5) 99%) transparent;
        background: linear-gradient(125deg, rgba(59, 25, 208, 0.5) 2%, rgba(255, 79, 226, 0.5) 99%) transparent;
    }

    #sppb-addon-1651219595799 .sppb-carousel-extended-heading {
        letter-spacing: 0px;
    }

    #sppb-addon-1651219595799 .sppb-carousel-extended-subheading {
        letter-spacing: 0px;
    }

    #sppb-addon-1651219595799 .sppb-carousel-extended-description {
        letter-spacing: 0px;
    }

    #sppb-addon-1651219595799 .sppb-carousel-extended-nav-control {
        top: -80px;
    }

    @media (min-width:768px) and (max-width:991px) {
        #sppb-addon-1651219595799 .sppb-carousel-extended-nav-control .nav-control {
            height: 80px;
            line-height: 80px;
            width: 80px;
            background: #ffffff;
            color: #323131;
            font-size: 15px;
            border-color: rgba(255, 255, 255, 0);
            border-radius: 100px;
        }
    }

    @media (max-width:767px) {
        #sppb-addon-1651219595799 .sppb-carousel-extended-nav-control .nav-control {
            height: 80px;
            line-height: 80px;
            width: 80px;
            background: #ffffff;
            color: #323131;
            font-size: 15px;
            border-color: rgba(255, 255, 255, 0);
            border-radius: 100px;
        }
    }

    .sp-page-builder .page-content #section-id-1651219595793 {
        padding-top: 20px;
        padding-right: 0px;
        padding-bottom: 90px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        background-color: #ffffff;
        box-shadow: 0 0 0 0 #ffffff;
    }

    #column-id-1651219595792 {
        box-shadow: 0 0 0 0 #fff;
    }

    #sppb-addon-wrapper-1651219595861 {
        margin: 0px 0px 30px 0px;
    }

    #sppb-addon-1651219595861 {
        box-shadow: 0 0 0 0 #ffffff;
    }

    #sppb-addon-1651219595861 .sppb-addon-title {
        color: #111111;
        font-size: 40px;
        line-height: 50px;
        font-weight: 600;
    }

    #column-id-1651219595794 {
        padding-top: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        background-color: var(--hover_color);
    }

    #sppb-addon-wrapper-1651219595838 {
        margin: 0px 0px 0px 0px;
    }

    #sppb-addon-1651219595838 {
        color: #ffffff;
        box-shadow: 0 0 0 0 #ffffff;
        padding: 0px 0px 0px 0px;
    }

    #sppb-addon-1651219595838 .sppb-addon-title {
        font-size: 22px;
        line-height: 30px;
        font-weight: 600;
    }

    #sppb-addon-1651219595838 h2.sppb-addon-title {
        margin: 0px 0px 5px 0px;
        text-transform: none;
        padding: 0px 0px 0px 0px;
    }

    #sppb-addon-wrapper-1651219595826 {
        margin: -7px 0px 20px 0px;
    }

    #sppb-addon-1651219595826 {
        box-shadow: 0 0 0 0 #ffffff;
    }

    #sppb-addon-wrapper-1651219595829 {
        margin: 0px 0px 20px 0px;
    }

    #sppb-addon-1651219595829 {
        box-shadow: 0 0 0 0 #ffffff;
    }

    #sppb-addon-1651219595829 .sppb-addon-content ul {
        padding-left: 0px;
        margin-left: 0px;
    }

    #sppb-addon-1651219595829 .sppb-addon-content li {
        list-style: none;
        color: #ffffff;
        padding-bottom: 10px;
    }

    #sppb-addon-1651219595829 .sppb-addon-content li span {
        font-style: italic;
        float: right;
    }

    #sppb-addon-1651219595829 .sppb-addon-content small {
        font-weight: 500;
    }

    #sppb-addon-wrapper-1651219595891 {
        margin: 0px 0px 0px 0px;
    }

    #sppb-addon-1651219595891 {
        box-shadow: 0 0 0 0 #ffffff;
    }

    #sppb-addon-1651219595891 .btn.btn_secondary {
        color: #ffffff;
        border-color: var(--dark_color);
        background-color: var(--dark_color);
    }

    #sppb-addon-1651219595891 .btn.btn_secondary:before {
        background-color: var(--primary_color);
    }

    #sppb-addon-1651219595891 .btn.btn_secondary:hover {
        color: #ffffff;
    }

    #sppb-addon-1651219595891 .btn {
        z-index: 1;
        border: none;
        height: 60px;
        outline: none;
        line-height: 1;
        font-size: 16px;
        border-radius: 0;
        font-weight: 700;
        overflow: hidden;
        position: relative;
        text-align: center;
        padding: 10px 40px;
        align-items: center;
        display: inline-flex;
        justify-content: center;
        text-transform: uppercase;
        text-decoration: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #sppb-addon-1651219595891 .btn:focus {
        outline: none;
        box-shadow: none;
    }

    #sppb-addon-1651219595891 .btn:before {
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        bottom: auto;
        z-index: -1;
        content: "";
        position: absolute;
        transition: all 0.3s ease-in-out;
    }

    #sppb-addon-1651219595891 .btn:hover {
        text-decoration: none;
    }

    #sppb-addon-1651219595891 .btn:hover:before {
        top: auto;
        bottom: 0;
        height: 100%;
    }

    .sp-page-builder .page-content #section-id-1651219595903 {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 120px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        background-color: #ffffff;
        box-shadow: 0 0 0 0 #ffffff;
    }

    #column-id-1651219595902 {
        box-shadow: 0 0 0 0 #fff;
    }

    #sppb-addon-wrapper-1651219595906 {
        margin: 0px 0px 0px 0px;
    }

    #sppb-addon-1651219595906 {
        box-shadow: 0 0 0 0 #ffffff;
    }

    #sppb-addon-1651219595906 .sppb-gallery img {
        object-fit: cover;
    }

    #sppb-addon-1651219595906 .sppb-gallery img {
        width: 350px;
        height: 290px;
    }

    #sppb-addon-1651219595906 .sppb-gallery li {
        margin: 15px;
    }

    #sppb-addon-1651219595906 .sppb-gallery {
        margin: -15px;
    }

    @media (min-width:768px) and (max-width:991px) {
        #sppb-addon-1651219595906 .sppb-gallery img {
            width: px;
            height: px;
        }
    }

    @media (max-width:767px) {
        #sppb-addon-1651219595906 .sppb-gallery img {
            width: px;
            height: px;
        }
    }

    .sp-page-builder .page-content #section-id-1651219595864 {
        padding-top: 120px;
        padding-right: 0px;
        padding-bottom: 120px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        background-color: #f2f6ff;
        box-shadow: 0 0 0 0 #ffffff;
    }

    #column-id-1651219595795 {
        box-shadow: 0 0 0 0 #fff;
    }

    #sppb-addon-wrapper-1651219595796 {
        margin: 0px 0px 5px 0px;
    }

    #sppb-addon-1651219595796 {
        box-shadow: 0 0 0 0 #ffffff;
    }

    #sppb-addon-wrapper-1651219595797 {
        margin: 0px 0px 25px 0px;
    }

    #sppb-addon-1651219595797 {
        box-shadow: 0 0 0 0 #ffffff;
    }

    #sppb-addon-1651219595797 .sppb-addon-title {
        margin-bottom: 20px;
        color: var(--primary_color);
        font-size: 60px;
        line-height: 70px;
        font-weight: 600;
    }

    @media (min-width:768px) and (max-width:991px) {
        #sppb-addon-1651219595797 .sppb-addon-title {
            font-size: 50px;
            line-height: 50px;
            line-height: 60px;
        }
    }

    @media (max-width:767px) {
        #sppb-addon-1651219595797 .sppb-addon-title {
            font-size: 50px;
            line-height: 50px;
            line-height: 60px;
        }
    }

    #sppb-addon-wrapper-1651219595798 {
        margin: 0px -15px 0px -15px;
    }

    #sppb-addon-1651219595798 {
        box-shadow: 0 0 0 0 #ffffff;
    }

    #sppb-addon-1651219595798 .portfolio_fullimage .item_title {
        text-align: left !important;
        opacity: 1;
        margin-bottom: 10px;
    }

    #sppb-addon-1651219595798 .sppb-carousel-extended-nav-control .nav-control {
        height: 60px;
        line-height: 60px;
        width: 60px;
        background: #ffffff;
        color: #161313;
        font-size: 16px;
        margin-top: 0%;
        margin-left: 0px;
        margin-right: 0px;
    }

    #sppb-addon-1651219595798 .sppb-carousel-extended-nav-control .nav-control:hover {
        background-color: var(--color-primary);
        color: #ffffff;
    }

    #sppb-addon-1651219595798 .sppb-carousel-extended-dots ul li {
        height: 4px;
        line-height: 4px;
        width: 25px;
        background: #d3d3d3;
        border-radius: 0px;
    }

    #sppb-addon-1651219595798 .sppb-carousel-extended-dots ul li:hover span,
    #sppb-addon-1651219595798 .sppb-carousel-extended-dots ul li.active span {
        background: var(--color-primary);
    }

    #sppb-addon-1651219595798 .sppb-carousel-extended-item-overlay {
        background: -webkit-linear-gradient(125deg, rgba(59, 25, 208, 0.5) 2%, rgba(255, 79, 226, 0.5) 99%) transparent;
        background: linear-gradient(125deg, rgba(59, 25, 208, 0.5) 2%, rgba(255, 79, 226, 0.5) 99%) transparent;
    }

    #sppb-addon-1651219595798 .sppb-carousel-extended-heading {
        letter-spacing: 0px;
    }

    #sppb-addon-1651219595798 .sppb-carousel-extended-subheading {
        letter-spacing: 0px;
    }

    #sppb-addon-1651219595798 .sppb-carousel-extended-description {
        letter-spacing: 0px;
    }

    #sppb-addon-1651219595798 .sppb-carousel-extended-nav-control {
        top: -60px;
    }

    @media (min-width:768px) and (max-width:991px) {
        #sppb-addon-1651219595798 .sppb-carousel-extended-nav-control .nav-control {
            height: 60px;
            line-height: 60px;
            width: 60px;
            background: #ffffff;
            color: #161313;
            font-size: 16px;
        }
    }

    @media (max-width:767px) {
        #sppb-addon-1651219595798 .sppb-carousel-extended-nav-control .nav-control {
            height: 60px;
            line-height: 60px;
            width: 60px;
            background: #ffffff;
            color: #161313;
            font-size: 16px;
        }
    }
</style>
<style
    nonce="OWNlOTE2OWY3NDQ4ZmY2NjhiYzJkY2M5MzY0ZmY5MmVjNDcyN2Q0ODg1NGMwM2Y3Y2MyODE5OTU3MDdlYjY5YTY0NzE0ZjljNjYwMzM1ZThlYWI4NDBjZjNmNjlhMzlkYzkxODg0NTNkZmQyNGNkYTIyYTI0ZjRhNGE0YzdiYWI=">
    :root {
        --body_color: #6d706d;
        --primary_color: #009ee3;
        --green_color: #4a6b45;
        --dark_color: #1a1c16;
        --hover_color: #80ba14;
        --poppins: Poppins;
    }
</style>
<style
    nonce="OWNlOTE2OWY3NDQ4ZmY2NjhiYzJkY2M5MzY0ZmY5MmVjNDcyN2Q0ODg1NGMwM2Y3Y2MyODE5OTU3MDdlYjY5YTY0NzE0ZjljNjYwMzM1ZThlYWI4NDBjZjNmNjlhMzlkYzkxODg0NTNkZmQyNGNkYTIyYTI0ZjRhNGE0YzdiYWI=">
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 400;
        text-decoration: none;
        text-align: left;
    }
</style>
<style
    nonce="OWNlOTE2OWY3NDQ4ZmY2NjhiYzJkY2M5MzY0ZmY5MmVjNDcyN2Q0ODg1NGMwM2Y3Y2MyODE5OTU3MDdlYjY5YTY0NzE0ZjljNjYwMzM1ZThlYWI4NDBjZjNmNjlhMzlkYzkxODg0NTNkZmQyNGNkYTIyYTI0ZjRhNGE0YzdiYWI=">
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-decoration: none;
    }
</style>
<style
    nonce="OWNlOTE2OWY3NDQ4ZmY2NjhiYzJkY2M5MzY0ZmY5MmVjNDcyN2Q0ODg1NGMwM2Y3Y2MyODE5OTU3MDdlYjY5YTY0NzE0ZjljNjYwMzM1ZThlYWI4NDBjZjNmNjlhMzlkYzkxODg0NTNkZmQyNGNkYTIyYTI0ZjRhNGE0YzdiYWI=">
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }
</style>
<style
    nonce="OWNlOTE2OWY3NDQ4ZmY2NjhiYzJkY2M5MzY0ZmY5MmVjNDcyN2Q0ODg1NGMwM2Y3Y2MyODE5OTU3MDdlYjY5YTY0NzE0ZjljNjYwMzM1ZThlYWI4NDBjZjNmNjlhMzlkYzkxODg0NTNkZmQyNGNkYTIyYTI0ZjRhNGE0YzdiYWI=">
    h3 {
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
</style>
<style
    nonce="OWNlOTE2OWY3NDQ4ZmY2NjhiYzJkY2M5MzY0ZmY5MmVjNDcyN2Q0ODg1NGMwM2Y3Y2MyODE5OTU3MDdlYjY5YTY0NzE0ZjljNjYwMzM1ZThlYWI4NDBjZjNmNjlhMzlkYzkxODg0NTNkZmQyNGNkYTIyYTI0ZjRhNGE0YzdiYWI=">
    h4 {
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
</style>
<style
    nonce="OWNlOTE2OWY3NDQ4ZmY2NjhiYzJkY2M5MzY0ZmY5MmVjNDcyN2Q0ODg1NGMwM2Y3Y2MyODE5OTU3MDdlYjY5YTY0NzE0ZjljNjYwMzM1ZThlYWI4NDBjZjNmNjlhMzlkYzkxODg0NTNkZmQyNGNkYTIyYTI0ZjRhNGE0YzdiYWI=">
    h5 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }
</style>
<style
    nonce="OWNlOTE2OWY3NDQ4ZmY2NjhiYzJkY2M5MzY0ZmY5MmVjNDcyN2Q0ODg1NGMwM2Y3Y2MyODE5OTU3MDdlYjY5YTY0NzE0ZjljNjYwMzM1ZThlYWI4NDBjZjNmNjlhMzlkYzkxODg0NTNkZmQyNGNkYTIyYTI0ZjRhNGE0YzdiYWI=">
    h6 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }
</style>
<style
    nonce="OWNlOTE2OWY3NDQ4ZmY2NjhiYzJkY2M5MzY0ZmY5MmVjNDcyN2Q0ODg1NGMwM2Y3Y2MyODE5OTU3MDdlYjY5YTY0NzE0ZjljNjYwMzM1ZThlYWI4NDBjZjNmNjlhMzlkYzkxODg0NTNkZmQyNGNkYTIyYTI0ZjRhNGE0YzdiYWI=">
    .sp-megamenu-parent>li>a,
    .sp-megamenu-parent>li>span,
    .sp-megamenu-parent .sp-dropdown li.sp-menu-item>a {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }
</style>
<style
    nonce="OWNlOTE2OWY3NDQ4ZmY2NjhiYzJkY2M5MzY0ZmY5MmVjNDcyN2Q0ODg1NGMwM2Y3Y2MyODE5OTU3MDdlYjY5YTY0NzE0ZjljNjYwMzM1ZThlYWI4NDBjZjNmNjlhMzlkYzkxODg0NTNkZmQyNGNkYTIyYTI0ZjRhNGE0YzdiYWI=">
    .logo-image {
        height: 30px;
    }

    .logo-image-phone {
        height: 30px;
    }
</style>




<section id="sp-title">



    <div class="row">
        <div id="sp-title" class="col-lg-12 ">
            <div class="sp-column ">
                <div class="sp-page-title" style="background-color: #f4f5f9;">
                    <div class="container">
                        <h2 class="sp-page-title-heading">Solid Waste Management</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="sp-main-body">



    <div class="row">

        <main id="sp-component" class="col-lg-12 ">
            <div class="sp-column ">
                <div id="system-message-container" aria-live="polite">
                </div>




                <div id="sp-page-builder" class="sp-page-builder  page-10">


                    <div class="page-content">
                        <section id="section-id-1651219595796" class="sppb-section">
                            <div class="sppb-row-container">
                                <div class="sppb-row">
                                    <div class="sppb-col-md-9" id="column-wrap-id-1651219595795">
                                        <div id="column-id-1651219595795" class="sppb-column">
                                            <div class="sppb-column-addons">
                                                <div id="sppb-addon-wrapper-1651219595799" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651219595799" class="clearfix ">
                                                        <div class="sppb-addon sppb-carousel-extended sppb-image-carousel-layout1"
                                                            
                                                            data-dots="0" data-image-layout="layout1" data-autoplay="0"
                                                            data-speed="2500" data-interval="4500" data-margin="15"
                                                            data-height="600" data-height-sm="400" data-height-xs="300"
                                                            data-item-number="3" data-item-number-sm="3"
                                                            data-item-number-xs="1" data-fade="1">
                                                            <div class="sppb-carousel-extended-item"><img
                                                                    src="{% static 'images/slide1.jpg' %}" alt="">
                                                                <div class="sppb-carousel-extended-content-wrap"></div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <aside id="sp-right" class="col-lg-3 ">
                                        <div class="sp-column ">
                                            <div class="sp-module nounder">
                                                <h3 class="sp-module-title">Sub Services</h3>
                                                <div class="sp-module-content">
                                                    <div id="hikashop_module_122" class="hikashop_module nounder">
                                                        <div id="hikashop_category_information_module_122"
                                                            class="hikashop_category_information hikashop_categories_listing_main hikashop_category_listing_17">
                                                            <div class="hikashop_subcategories_listing">
                                                                <div class="hikashop_subcategories">
                                                                    <div class="hk-row-fluid">
                                                                        <div
                                                                            class="hkc-md-12 hikashop_category hikashop_category_column_1 hikashop_category_row_1">
                                                                            <div class="hikashop_container">
                                                                                <div class="hikashop_subcontainer ">
                                                                                    <span
                                                                                        class="hikashop_category_name">
                                                                                        <a
                                                                                            href="{% url 'web:INCINERATOR' %}">
                                                                                            Incinerator </a>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="hkc-md-12 hikashop_category hikashop_category_column_1 hikashop_category_row_2">
                                                                            <div class="hikashop_container">
                                                                                <div class="hikashop_subcontainer ">
                                                                                    <span
                                                                                        class="hikashop_category_name">
                                                                                        <a
                                                                                            href="{% url 'web:Napkin Incinerator' %}">
                                                                                            Napkin Incinerator </a>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="hkc-md-12 hikashop_category hikashop_category_column_1 hikashop_category_row_2">
                                                                            <div class="hikashop_container">
                                                                                <div class="hikashop_subcontainer ">
                                                                                    <span
                                                                                        class="hikashop_category_name">
                                                                                        <a
                                                                                            href="{% url 'web:Plastic Recycling' %}">
                                                                                           Plastic Recycling</a>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="hkc-md-12 hikashop_category hikashop_category_column_1 hikashop_category_row_2">
                                                                            <div class="hikashop_container">
                                                                                <div class="hikashop_subcontainer ">
                                                                                    <span
                                                                                        class="hikashop_category_name">
                                                                                        <a
                                                                                            href="{% url 'web:Napkin Vending' %}">
                                                                                            Napkin Vending Machines </a>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                         
                                                                    </div>
                                                                    <div style="clear:both"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </section>
                        <section id="section-id-1651219595793" class="sppb-section">
                            <div class="sppb-row-container">
                                <div class="sppb-row">
                                    <div class="sppb-col-md-9" id="column-wrap-id-1651219595792">
                                        <div id="column-id-1651219595792" class="sppb-column">
                                            <div class="sppb-column-addons">
                                                <div id="sppb-addon-wrapper-1651219595861" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651219595861" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-text-block sppb-text-left ">

                                                            <div class="sppb-addon-content" style="text-align: justify;"><p>
                                                                Now a days, Water turns contamined by organic and inorganic matter, Other bacteria and viruses and other pollutants. We are providing the Government approved water and waste quality analysis and monitoring servies across Kerala. It's an active hi-tech water and waste water quality analysis laboratory and research centre, functioning with approval of State Pollution Control Board.</p>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>


                        {% comment %}
                        <section id="section-id-1651219595864" class="sppb-section">
                            <div class="sppb-row-container">
                                <div class="sppb-row">
                                    <div class="sppb-col-md-12" id="column-wrap-id-1651219595795">
                                        <div id="column-id-1651219595795" class="sppb-column">
                                            <div class="sppb-column-addons">
                                                <div id="sppb-addon-wrapper-1651219595796" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651219595796" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-single-image sppb-text-left ">
                                                            <div class="sppb-addon-content">
                                                                <div class="sppb-addon-single-image-container"><img
                                                                        class="sppb-img-responsive"
                                                                        src="{% static 'images/theme-title.png' %}"
                                                                        alt="Image" title="" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651219595797" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651219595797" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-text-block sppb-text-left ">
                                                            <h3 class="sppb-addon-title">Featured Projects</h3>
                                                            <div class="sppb-addon-content"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651219595798" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651219595798" class="clearfix ">
                                                        <div class="sppb-addon sppb-carousel-extended sppb-image-carousel-layout2"
                                                            data-left-arrow="fas fa-long-arrow-alt-right"
                                                            data-right-arrow="fas fa-long-arrow-alt-left" data-arrow="0"
                                                            data-dots="1" data-image-layout="layout2" data-autoplay="0"
                                                            data-speed="2500" data-interval="4500" data-margin="5"
                                                            data-height="400" data-height-sm="400" data-height-xs="300"
                                                            data-item-number="3" data-item-number-sm="3"
                                                            data-item-number-xs="1">
                                                            <div class="sppb-carousel-extended-item"><img
                                                                    src="{% static 'images/tr.png' %}" alt="">
                                                                <div class="sppb-carousel-extended-content-wrap">
                                                                    <div class="sppb-carousel-extended-description">
                                                                        <div class="grid masonry_style_1">
                                                                            <div class="grid-sizer"></div>
                                                                            <div class="grid-item">
                                                                                <div
                                                                                    class="portfolio_fullimage medium_item">
                                                                                    <img src="{% static 'images/project1.jpg' %}"
                                                                                        alt="Portfolio Image">
                                                                                    <a class="details_link_icon"
                                                                                        href="{% url 'web:INCINERATOR' %}">
                                                                                        <i
                                                                                            class="fas fa-arrow-right"></i>
                                                                                    </a>
                                                                                    <div class="item_content">
                                                                                        
                                                                                        <h3 class="item_title">
                                                                                            INCINERATOR
                                                                                        </h3>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="sppb-carousel-extended-item"><img
                                                                    src="{% static 'images/tr.png' %}" alt="">
                                                                <div class="sppb-carousel-extended-content-wrap">
                                                                    <div class="sppb-carousel-extended-description">
                                                                        <div class="grid masonry_style_1">
                                                                            <div class="grid-sizer"></div>
                                                                            <div class="grid-item">
                                                                                <div
                                                                                    class="portfolio_fullimage medium_item">
                                                                                    <img src="{% static 'images/project2.jpg' %}"
                                                                                        alt="Portfolio Image">
                                                                                    <a class="details_link_icon"
                                                                                        href="{% url 'web:Napkin Incinerator' %}">
                                                                                        <i
                                                                                            class="fas fa-arrow-right"></i>
                                                                                    </a>
                                                                                    <div class="item_content">
                                                                                        
                                                                                        <h3 class="item_title">
                                                                                            NAPKIN INCINERATOR
                                                                                        </h3>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="sppb-carousel-extended-item"><img
                                                                    src="{% static 'images/tr.png' %}" alt="">
                                                                <div class="sppb-carousel-extended-content-wrap">
                                                                    <div class="sppb-carousel-extended-description">
                                                                        <div class="grid masonry_style_1">
                                                                            <div class="grid-sizer"></div>
                                                                            <div class="grid-item">
                                                                                <div
                                                                                    class="portfolio_fullimage medium_item">
                                                                                    <img src="{% static 'images/project3.jpg' %}"
                                                                                        alt="Portfolio Image">
                                                                                    <a class="details_link_icon"
                                                                                        href="{% url 'web:Plastic Recycling' %}">
                                                                                        <i
                                                                                            class="fas fa-arrow-right"></i>
                                                                                    </a>
                                                                                    <div class="item_content">
                                                                                        
                                                                                        <h3 class="item_title">
                                                                                            PLASTIC RECYCLING

                                                                                        </h3>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="sppb-carousel-extended-item"><img
                                                                src="{% static 'images/tr.png' %}" alt="">
                                                            <div class="sppb-carousel-extended-content-wrap">
                                                                <div class="sppb-carousel-extended-description">
                                                                    <div class="grid masonry_style_1">
                                                                        <div class="grid-sizer"></div>
                                                                        <div class="grid-item">
                                                                            <div
                                                                                class="portfolio_fullimage medium_item">
                                                                                <img src="{% static 'images/project3.jpg' %}"
                                                                                    alt="Portfolio Image">
                                                                                <a class="details_link_icon"
                                                                                    href="{% url 'web:Napkin Vending' %}">
                                                                                    <i
                                                                                        class="fas fa-arrow-right"></i>
                                                                                </a>
                                                                                <div class="item_content">
                                                                                    
                                                                                    <h3 class="item_title">
                                                                                        NAPKIN VENDING MACHINES

                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                           

                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        {% endcomment %}
                    </div>
                </div>



            </div>
        </main>
    </div>

</section>


{% endblock %}