{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}





<style
		nonce="ZWRiOWVmYTA3N2YyNzU1ZjU5YTQ5OWU0MzI0NzQ2NWU1MmJlMWFmYzBkMjdlNjM0NWRkZjAwMGU0ZGI5MDAyYmYyMDEyZmMwMmUyOWUwY2U0NzU3OGRhM2RiMGQzNTk0ZTA1ZGEwNThlZjgwZTM5OWU3MTRmZDkxY2M1OGRmNmM=">
		.sp-page-builder .page-content #section-id-1651176645183 {
			padding-top: 120px;
			padding-right: 0px;
			padding-bottom: 120px;
			padding-left: 0px;
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			margin-left: 0px;
			background-color: #ffffff;
			box-shadow: 0 0 0 0 #ffffff;
		}

		#column-id-1651176645187 {
			box-shadow: 0 0 0 0 #fff;
		}

		#sppb-addon-wrapper-1651176645196 {
			margin: 0px 0px 30px 0px;
		}

		#sppb-addon-1651176645196 {
			box-shadow: 0 0 0 0 #ffffff;
		}

		#sppb-addon-1651176645196 .portfolio_fullimage .item_title {
			opacity: 1;
			margin-bottom: 10px;
		}

		#sppb-addon-wrapper-1651176645208 {
			margin: 0px 0px 30px 0px;
		}

		#sppb-addon-1651176645208 {
			box-shadow: 0 0 0 0 #ffffff;
		}

		#sppb-addon-1651176645208 .portfolio_fullimage .item_title {
			opacity: 1;
			margin-bottom: 10px;
		}

		#sppb-addon-wrapper-1651176645221 {
			margin: 0px 0px 30px 0px;
		}

		#sppb-addon-1651176645221 {
			box-shadow: 0 0 0 0 #ffffff;
		}

		#sppb-addon-1651176645221 .portfolio_fullimage .item_title {
			opacity: 1;
			margin-bottom: 10px;
		}

		#column-id-1651176645189 {
			box-shadow: 0 0 0 0 #fff;
		}

		#sppb-addon-wrapper-1651176645199 {
			margin: 0px 0px 30px 0px;
		}

		#sppb-addon-1651176645199 {
			box-shadow: 0 0 0 0 #ffffff;
		}

		#sppb-addon-1651176645199 .portfolio_fullimage .item_title {
			opacity: 1;
			margin-bottom: 10px;
		}

		#sppb-addon-wrapper-1651176645205 {
			margin: 0px 0px 30px 0px;
		}

		#sppb-addon-1651176645205 {
			box-shadow: 0 0 0 0 #ffffff;
		}

		#sppb-addon-1651176645205 .portfolio_fullimage .item_title {
			opacity: 1;
			margin-bottom: 10px;
		}

		#sppb-addon-wrapper-1651176645224 {
			margin: 0px 0px 30px 0px;
		}

		#sppb-addon-1651176645224 {
			box-shadow: 0 0 0 0 #ffffff;
		}

		#sppb-addon-1651176645224 .portfolio_fullimage .item_title {
			opacity: 1;
			margin-bottom: 10px;
		}

		#column-id-1651176645190 {
			box-shadow: 0 0 0 0 #fff;
		}

		#sppb-addon-wrapper-1651176645188 {
			margin: 0px 0px 30px 0px;
		}

		#sppb-addon-1651176645188 {
			box-shadow: 0 0 0 0 #ffffff;
		}

		#sppb-addon-1651176645188 .portfolio_fullimage .item_title {
			opacity: 1;
			margin-bottom: 10px;
		}

		#sppb-addon-wrapper-1651176645202 {
			margin: 0px 0px 30px 0px;
		}

		#sppb-addon-1651176645202 {
			box-shadow: 0 0 0 0 #ffffff;
		}

		#sppb-addon-1651176645202 .portfolio_fullimage .item_title {
			opacity: 1;
			margin-bottom: 10px;
		}

		#sppb-addon-wrapper-1651176645227 {
			margin: 0px 0px 30px 0px;
		}

		#sppb-addon-1651176645227 {
			box-shadow: 0 0 0 0 #ffffff;
		}

		#sppb-addon-1651176645227 .portfolio_fullimage .item_title {
			opacity: 1;
			margin-bottom: 10px;
		}
</style>











<section id="sp-title">



    <div class="row">
        <div id="sp-title" class="col-lg-12 ">
            <div class="sp-column ">
                <div class="sp-page-title" style="background-color: #f4f5f9;">
                    <div class="container">
                        <h2 class="sp-page-title-heading">Blogs</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="sp-main-body">



    <div class="row">

        <main id="sp-component" class="col-lg-12 ">
            <div class="sp-column ">
                <div id="system-message-container" aria-live="polite">
                </div>




                <div id="sp-page-builder" class="sp-page-builder  page-11">


                    <div class="page-content">
                        <section id="section-id-1651176645183" class="sppb-section">
                            <div class="sppb-row-container">
                                <div class="sppb-row">

                                    {% for blog in blog_list %}
                                    <div class="sppb-col-md-4" id="column-wrap-id-1651176645187">
                                        <div id="column-id-1651176645187" class="sppb-column">
                                            <div class="sppb-column-addons">
                                               
                                                <div id="sppb-addon-wrapper-1651176645196"
                                                    class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651176645196" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-raw-html ">
                                                            <div class="sppb-addon-content">
                                                                <div class="grid masonry_style_1">
                                                                    <div class="grid-sizer"></div>
                                                                    <div class="grid-item">
                                                                        <div
                                                                            class="portfolio_fullimage medium_item">
                                                                            <img src=" {{blog.image.crop.345x338}} "
                                                                                alt="Portfolio Image">
                                                                            <a class="details_link_icon"
                                                                                href="{% url 'web:blog' blog.id %}">
                                                                                <i
                                                                                    class="fas fa-arrow-right"></i>
                                                                            </a>
                                                                            <div class="item_content">
                                                                                <ul
                                                                                    class="category_list ul_li">
                                                                                    
                                                                                    <li><a
                                                                                            href="{% url 'web:blog' blog.id %}">{{blog.category}}</a>
                                                                                    </li>
                                                                                </ul>
                                                                                <h3 class="item_title">
                                                                                    <a
                                                                                            href="{% url 'web:blog' blog.id %}" style="color: white;">
                                                                                    {{blog.heading}}
                                                                                </h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                    
                                </div>
                            </div>
                        </section>
                    </div>
                </div>



            </div>
        </main>
    </div>

</section>



{% endblock %}