{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

















<section id="sp-title">



    <div class="row">
        <div id="sp-title" class="col-lg-12 ">
            <div class="sp-column ">
                <div class="sp-page-title" style="background-color: #f4f5f9;">
                    <div class="container">
                        <h2 class="sp-page-title-heading">Blog List</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="sp-main-body" style="padding-top: 76px;">

    <div class="container">
        <div class="container-inner">


            <div class="row">

                <div class="col-lg-2">

                </div>

                <main id="sp-component" class="col-lg-8 ">
                    <div class="sp-column ">
                        <div id="system-message-container" aria-live="polite">
                        </div>




                        <div class="blog">






                            <div class="article-list articles-leading">
                                {% for blog in blogs %}


                                <div class="article" itemprop="blogPost" itemscope
                                    itemtype="https://schema.org/BlogPosting">


                                    <div class="article-intro-image float-left">
                                        <a href="blog-details.html">
                                            <img src="{{blog.image.crop.860x567}}" itemprop="thumbnailUrl" width="1200"
                                                height="801" loading="lazy"> </a>
                                    </div>

                                    <div class="article-body">


                                        <div class="article-header">
                                            <h2>
                                                <a href="blog-details.html">
                                                    {{blog.heading}} </a>
                                            </h2>




                                        </div>


                                        <div class="article-info">




                                            <span class="category-name" title="Category: Gardening">
                                                <a href="blog-list.html">{{blog.category}}</a>
                                            </span>


                                            <span class="published" title="Published: 27 April 2022">
                                                <time datetime="2022-04-27T20:16:45+00:00">
                                                   {{blog.date}} </time>
                                            </span>





                                        </div>




                                        <div class="article-introtext">
                                            <p>{{blog.content}}</p>



                                        </div>

                                    </div>

                                </div>


                                {% endfor %}





                                <!-- <div class="article" itemprop="blogPost" itemscope
                                    itemtype="https://schema.org/BlogPosting">


                                    <div class="article-intro-image float-left">
                                        <a
                                            href="blog-list/sub-brands-for-lead-corporate-is-the-leader.html">
                                            <img src=" {% static 'images/p1.jpg' %} " itemprop="thumbnailUrl" width="1200"
                                                height="800" loading="lazy"> </a>
                                    </div>

                                    <div class="article-body">


                                        <div class="article-header">
                                            <h2>
                                                <a
                                                    href="blog-list/sub-brands-for-lead-corporate-is-the-leader.html">
                                                    Sub-brands for lead corporate is the leader </a>
                                            </h2>




                                        </div>


                                        <div class="article-info">




                                            <span class="category-name" title="Category: Gardening">
                                                <a href="blog-list.html">Gardening</a>
                                            </span>


                                            <span class="published" title="Published: 27 April 2022">
                                                <time datetime="2022-04-27T20:16:45+00:00">
                                                    27 April 2022 </time>
                                            </span>





                                        </div>




                                        <div class="article-introtext">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                                do eiusmod tempor incididunt ut labore et dolore magna
                                                aliqua.</p>



                                        </div>

                                    </div>

                                </div>
                                <div class="article" itemprop="blogPost" itemscope
                                    itemtype="https://schema.org/BlogPosting">


                                    <div class="article-intro-image float-left">
                                        <a
                                            href="blog-list/money-markets-findings-the-best-accounts-today.html">
                                            <img src=" {% static 'images/p7.jpg' %} " itemprop="thumbnailUrl" width="1200"
                                                height="800" loading="lazy"> </a>
                                    </div>

                                    <div class="article-body">


                                        <div class="article-header">
                                            <h2>
                                                <a
                                                    href="blog-list/money-markets-findings-the-best-accounts-today.html">
                                                    Money markets findings the best accounts today </a>
                                            </h2>




                                        </div>


                                        <div class="article-info">




                                            <span class="category-name" title="Category: Gardening">
                                                <a href="blog-list.html">Gardening</a>
                                            </span>


                                            <span class="published" title="Published: 27 April 2022">
                                                <time datetime="2022-04-27T20:16:45+00:00">
                                                    27 April 2022 </time>
                                            </span>





                                        </div>




                                        <div class="article-introtext">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                                do eiusmod tempor incididunt ut labore et dolore magna
                                                aliqua.</p>



                                        </div>

                                    </div>

                                </div>
                                <div class="article" itemprop="blogPost" itemscope
                                    itemtype="https://schema.org/BlogPosting">


                                    <div class="article-intro-image float-left">
                                        <a
                                            href="blog-list/things-you-should-know-about-interior-nobis-estum.html">
                                            <img src=" {% static 'images/p10.jpg' %} " itemprop="thumbnailUrl"
                                                width="1200" height="801" loading="lazy"> </a>
                                    </div>

                                    <div class="article-body">


                                        <div class="article-header">
                                            <h2>
                                                <a
                                                    href="blog-list/things-you-should-know-about-interior-nobis-estum.html">
                                                    Things You Should Know About Interior nobis estum </a>
                                            </h2>




                                        </div>


                                        <div class="article-info">




                                            <span class="category-name" title="Category: Gardening">
                                                <a href="blog-list.html">Gardening</a>
                                            </span>


                                            <span class="published" title="Published: 27 April 2022">
                                                <time datetime="2022-04-27T20:16:45+00:00">
                                                    27 April 2022 </time>
                                            </span>





                                        </div>




                                        <div class="article-introtext">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                                do eiusmod tempor incididunt ut labore et dolore magna
                                                aliqua.</p>



                                        </div>

                                    </div>

                                </div> -->
                            </div>





                        </div>


                    </div>
                </main>
                
                <div class="col-lg-2">

                </div>
                
            </div>
        </div>
    </div>

</section>



<script
		nonce="MDgyYzc5ZmIzYjI0ZTA3ZWVkYTc2NjhlZDJlM2U2ZWQ5NjhhYTFiOTBlM2MxOGRiMTM0YWFkOTczZmE4NjRmMzQwN2M4OGI0YmMyZTQxNzNmMzk4ODYyYWI0Zjg0YzU3ZTFjOGJhMzRjNWVhNWNlZjY2OTRiMWIxNjQ3MGIxMWQ=">template = "greelan";</script>
	<script
		nonce="MDgyYzc5ZmIzYjI0ZTA3ZWVkYTc2NjhlZDJlM2U2ZWQ5NjhhYTFiOTBlM2MxOGRiMTM0YWFkOTczZmE4NjRmMzQwN2M4OGI0YmMyZTQxNzNmMzk4ODYyYWI0Zjg0YzU3ZTFjOGJhMzRjNWVhNWNlZjY2OTRiMWIxNjQ3MGIxMWQ=">; (function ($) {
				$.ajaxSetup({
					headers: {
						'X-CSRF-Token': Joomla.getOptions('csrf.token')
					}
				});
			})(jQuery);</script>
{% endblock %}