{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}



<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
  data-bs-whatever="@mdo">Open modal for @mdo</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>






<ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
  <li class="dropdown-item dropdown dropright">
    <a class="dropdown-link dropdown-toggle" href="#" data-toggle="dropdown">
      About us
    </a>
    <ul class="dropdown-menu dropdown-submenu pt-3 pb-0 pb-xl-3 x-animated x-fadeInLeft">
      <li class="dropdown-item">
        <a class="dropdown-link" href="about-us-01.html">About Us
          01</a>
      </li>
      <li class="dropdown-item">
        <a class="dropdown-link" href="about-us-02.html">About Us
          02</a>
      </li>
    </ul>
  </li>
  <li class="dropdown-item">
    <a class="dropdown-link" href="faqs.html">
      FAQs
    </a>
  </li>
  <li class="dropdown-item">
    <a class="dropdown-link" href="service.html">
      Service
    </a>
  </li>
  <li class="dropdown-item">
    <a class="dropdown-link" href="login-register.html">
      Login Register
    </a>
  </li>
</ul>
{% endblock %}