{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}




<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    #hikashop_category_information_menu_147 div.hikashop_subcontainer,
    #hikashop_category_information_menu_147 .hikashop_rtop *,
    #hikashop_category_information_menu_147 .hikashop_rbottom * {
        background: #ffffff;
    }

    #hikashop_category_information_menu_147 div.hikashop_subcontainer,
    #hikashop_category_information_menu_147 div.hikashop_subcontainer span,
    #hikashop_category_information_menu_147 div.hikashop_container {
        text-align: center;
    }

    #hikashop_category_information_menu_147 div.hikashop_container {
        margin: 10px 10px;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    #hikashop_category_information_menu_147 .hikashop_product_image {
        height: 280px;
    }

    #hikashop_category_information_menu_147 .hikashop_product_image_subdiv {
        width: 280px;
    }
</style>

<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 400;
        text-decoration: none;
        text-align: left;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h3 {
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h4 {
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h5 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h6 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    .sp-megamenu-parent>li>a,
    .sp-megamenu-parent>li>span,
    .sp-megamenu-parent .sp-dropdown li.sp-menu-item>a {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    .logo-image {
        height: 30px;
    }

    .logo-image-phone {
        height: 30px;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    #hikashop_category_information_module_129 div.hikashop_subcontainer,
    #hikashop_category_information_module_129 .hikashop_rtop *,
    #hikashop_category_information_module_129 .hikashop_rbottom * {
        background: #ffffff;
    }

    #hikashop_category_information_module_129 div.hikashop_subcontainer,
    #hikashop_category_information_module_129 div.hikashop_subcontainer span,
    #hikashop_category_information_module_129 div.hikashop_container {
        text-align: center;
    }

    #hikashop_category_information_module_129 div.hikashop_container {
        margin: 10px 10px;
    }

    #hikashop_category_information_module_129 .hikashop_subcontainer {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
    }
</style>









<section id="sp-title">



    <div class="row">
        <div id="sp-title" class="col-lg-12 ">
            <div class="sp-column ">
                <div class="sp-page-title" style="background-color: #f4f5f9;">
                    <div class="container">
                        <h2 class="sp-page-title-heading">Our Products</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="sp-main-body">

    <div class="container">
        <div class="container-inner">


            <div class="row">
                <aside id="sp-right" class="col-lg-4 ">
                    <div class="sp-column ">
                        <div class="sp-module m-5 " style="border: none;">
                            
                            <div class="sp-module-content">
                                <ul class="mod-articlescategories categories-module mod-list d-flex" >
                                    <li class="active" style="margin: 20px;"> <a href="#" style="padding: 20px;line-height: 20px;">
                                            All</a>

                                    </li >
                                    <li class="pr-5" style="margin: 20px;"> <a href="#" style="padding: 20px;line-height: 20px;">
                                            Water Filters </a>

                                    </li>
                                    <li style="margin: 20px;"> <a href="#" style="padding: 20px;line-height: 20px;">
                                            Water Purifiers </a>

                                    </li > 
                                    <li style="margin: 20px;"> <a href="#" style="padding: 20px;line-height: 20px;">
                                            Germ Removal </a>

                                    </li>
                                    <li style="margin: 20px;"> <a href="#" style="padding: 20px;line-height: 20px;">
                                            Water Dispenser </a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    

</section>


<section id="sp-main-body" style="padding-top: 76px;padding-bottom: 76px;">

    <div class="container">
        <div class="container-inner">



            <div class="row">

                <main id="sp-component" class="col-lg-12 ">
                    <div class="sp-column ">
                        <div id="system-message-container" aria-live="polite">
                        </div>



                        <div id="hikashop_category_information_menu_147"
                            class="hikashop_category_information hikashop_products_listing_main hikashop_product_listing_12 filter_refresh_div"
                            data-refresh-class="hikashop_checkout_loading"
                            data-refresh-url="https://greelan.themes-pro.com/shop/main-shop?tmpl=raw&filter=1"
                            data-use-url="1">
                            <div class="hikashop_checkout_loading_elem"></div>
                            <div class="hikashop_checkout_loading_spinner"></div>
                            <div class="hikashop_products_listing">
                                <div id="hikashop_products_switcher_hikashop_category_information_menu_147"
                                    class="hikashop_products " data-consistencyheight=".hikashop_subcontainer"
                                    itemscope="" itemtype="https://schema.org/itemListElement">
                                    <div class="hk-row-fluid">
                                        <div class="hkc-md-3 hikashop_product hikashop_product_column_1 hikashop_product_row_1"
                                            itemprop="itemList" itemscope="" itemtype="http://schema.org/ItemList">
                                            <div class="hikashop_container hikashop_zoom_hover">
                                                <div class="hikashop_subcontainer hikashop_subcontainer_border">
                                                    <div class="hikashop_listing_img_title"
                                                        style="padding-bottom: 20px;"
                                                        id="div_hikashop_category_information_menu_147_1">
                                                        <!-- IMAGE -->
                                                        <div class="hikashop_product_image">
                                                            <div class="hikashop_product_image_subdiv">
                                                                <a href="main-shop/product/1-gardening-artificial-flowers.html"
                                                                    class="">
                                                                    <img class="hikashop_product_listing_image"
                                                                        title="Gardening Artificial Flowers"
                                                                        alt="product2"
                                                                        src=" {% static 'images/steel-water-dispenser.jpg' %} " />
                                                                </a>
                                                                <meta itemprop="image"
                                                                    content=" {% static 'images/steel-water-dispenser.jpg' %} " />
                                                            </div>
                                                        </div>
                                                        <!-- EO IMAGE -->




                                                        <!-- CODE -->
                                                        <span class='hikashop_product_code_list'>
                                                        </span>
                                                        <!-- EO CODE -->

                                                        <!-- CUSTOM PRODUCT FIELDS -->
                                                        <!-- EO CUSTOM PRODUCT FIELDS -->

                                                        <!-- AFTER PRODUCT NAME AREA -->
                                                        <!-- EO AFTER PRODUCT NAME AREA -->

                                                        <!-- VOTE -->
                                                        <!-- EO VOTE -->

                                                        <!-- ADD TO CART BUTTON -->
                                                        <!-- SALE END MESSAGE -->
                                                        <!-- EO SALE END MESSAGE -->
                                                        <!-- SALE START MESSAGE -->
                                                        <!-- EO SALE START MESSAGE -->
                                                        <!-- STOCK MESSAGE -->
                                                        <span class="hikashop_product_stock_count">
                                                        </span>
                                                        <!-- EO STOCK MESSAGE -->
                                                        <!-- WAITLIST BUTTON -->
                                                        <!-- EO WAITLIST BUTTON -->

                                                        <input type="hidden" name="add" value="1" />
                                                        <!-- EO QUANTITY INPUT -->
                                                        <!-- ADD TO CART BUTTON -->
                                                        <button type="button" class="hikabtn hikacart"
                                                            onclick="if(window.hikashop.addToCart) { return window.hikashop.addToCart(this); }"
                                                            data-addToCart="1"
                                                            data-addTo-div="hikashop_category_information_menu_147"
                                                            data-addTo-class="add_in_progress"
                                                            data-href="static/shop/main-shop/product/updatecart/add-1/cid-1"><span>Enquire
                                                                Now</span></button>
                                                        <!-- EO ADD TO CART BUTTON -->
                                                        <!-- WISHLIST BUTTON -->
                                                        <!-- EO WISHLIST BUTTON -->
                                                        <!-- CHOOSE OPTIONS BUTTON -->
                                                        <!-- EO CHOOSE OPTIONS BUTTON -->
                                                        <!-- EO ADD TO CART BUTTON -->

                                                        <!-- COMPARISON -->
                                                        <!-- EO COMPARISON -->

                                                        <!-- CONTACT US BUTTON -->

                                                        <!-- EO CONTACT US BUTTON -->

                                                        <!-- PRODUCT DETAILS BUTTON -->

                                                        <!-- EO PRODUCT DETAILS BUTTON -->

                                                        <meta itemprop="url"
                                                            content="static/shop/main-shop/product/1-gardening-artificial-flowers">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hkc-md-3 hikashop_product hikashop_product_column_2 hikashop_product_row_1"
                                            itemprop="itemList" itemscope="" itemtype="http://schema.org/ItemList">
                                            <div class="hikashop_container hikashop_zoom_hover">
                                                <div class="hikashop_subcontainer hikashop_subcontainer_border">
                                                    <div class="hikashop_listing_img_title"
                                                        style="padding-bottom: 20px;"
                                                        id="div_hikashop_category_information_menu_147_2">
                                                        <!-- IMAGE -->
                                                        <div class="hikashop_product_image">
                                                            <div class="hikashop_product_image_subdiv">
                                                                <a href="main-shop/product/2-green-artificial-flowers.html"
                                                                    class="">
                                                                    <img class="hikashop_product_listing_image"
                                                                        title="Tree Artificial Flowers" alt="product1"
                                                                        src=" {% static 'images/UVfilter.jpg' %} " />
                                                                </a>
                                                                <meta itemprop="image"
                                                                    content=" {% static 'images/UVfilter.jpg' %} " />
                                                            </div>
                                                        </div>
                                                        <!-- EO IMAGE -->


                                                        <!-- CODE -->
                                                        <span class='hikashop_product_code_list'>
                                                        </span>
                                                        <!-- EO CODE -->

                                                        <!-- CUSTOM PRODUCT FIELDS -->
                                                        <!-- EO CUSTOM PRODUCT FIELDS -->

                                                        <!-- AFTER PRODUCT NAME AREA -->
                                                        <!-- EO AFTER PRODUCT NAME AREA -->

                                                        <!-- VOTE -->
                                                        <!-- EO VOTE -->

                                                        <!-- ADD TO CART BUTTON -->
                                                        <!-- SALE END MESSAGE -->
                                                        <!-- EO SALE END MESSAGE -->
                                                        <!-- SALE START MESSAGE -->
                                                        <!-- EO SALE START MESSAGE -->
                                                        <!-- STOCK MESSAGE -->
                                                        <span class="hikashop_product_stock_count">
                                                        </span>
                                                        <!-- EO STOCK MESSAGE -->
                                                        <!-- WAITLIST BUTTON -->
                                                        <!-- EO WAITLIST BUTTON -->

                                                        <input type="hidden" name="add" value="1" />
                                                        <!-- EO QUANTITY INPUT -->
                                                        <!-- ADD TO CART BUTTON -->
                                                        <button type="button" class="hikabtn hikacart"
                                                            onclick="if(window.hikashop.addToCart) { return window.hikashop.addToCart(this); }"
                                                            data-addToCart="2"
                                                            data-addTo-div="hikashop_category_information_menu_147"
                                                            data-addTo-class="add_in_progress"
                                                            data-href="static/shop/main-shop/product/updatecart/add-1/cid-2"><span>Enquire
                                                                Now</span></button>
                                                        <!-- EO ADD TO CART BUTTON -->
                                                        <!-- WISHLIST BUTTON -->
                                                        <!-- EO WISHLIST BUTTON -->
                                                        <!-- CHOOSE OPTIONS BUTTON -->
                                                        <!-- EO CHOOSE OPTIONS BUTTON -->
                                                        <!-- EO ADD TO CART BUTTON -->

                                                        <!-- COMPARISON -->
                                                        <!-- EO COMPARISON -->

                                                        <!-- CONTACT US BUTTON -->

                                                        <!-- EO CONTACT US BUTTON -->

                                                        <!-- PRODUCT DETAILS BUTTON -->

                                                        <!-- EO PRODUCT DETAILS BUTTON -->

                                                        <meta itemprop="url"
                                                            content="static/shop/main-shop/product/2-green-artificial-flowers">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hkc-md-3 hikashop_product hikashop_product_column_3 hikashop_product_row_1"
                                            itemprop="itemList" itemscope="" itemtype="http://schema.org/ItemList">
                                            <div class="hikashop_container hikashop_zoom_hover">
                                                <div class="hikashop_subcontainer hikashop_subcontainer_border">
                                                    <div class="hikashop_listing_img_title"
                                                        style="padding-bottom: 20px;"
                                                        id="div_hikashop_category_information_menu_147_4">
                                                        <!-- IMAGE -->
                                                        <div class="hikashop_product_image">
                                                            <div class="hikashop_product_image_subdiv">
                                                                <a href="main-shop/product/4-artificial-branch-flowers.html"
                                                                    class="">
                                                                    <img class="hikashop_product_listing_image"
                                                                        title="Artificial branch Flowers "
                                                                        alt="product4"
                                                                        src=" {% static 'images/carbon.jpg' %} " />
                                                                </a>
                                                                <meta itemprop="image"
                                                                    content=" {% static 'images/carbon.jpg' %} " />
                                                            </div>
                                                        </div>
                                                        <!-- EO IMAGE -->


                                                        <!-- CODE -->
                                                        <span class='hikashop_product_code_list'>
                                                        </span>
                                                        <!-- EO CODE -->

                                                        <!-- CUSTOM PRODUCT FIELDS -->
                                                        <!-- EO CUSTOM PRODUCT FIELDS -->

                                                        <!-- AFTER PRODUCT NAME AREA -->
                                                        <!-- EO AFTER PRODUCT NAME AREA -->

                                                        <!-- VOTE -->
                                                        <!-- EO VOTE -->

                                                        <!-- ADD TO CART BUTTON -->
                                                        <!-- SALE END MESSAGE -->
                                                        <!-- EO SALE END MESSAGE -->
                                                        <!-- SALE START MESSAGE -->
                                                        <!-- EO SALE START MESSAGE -->
                                                        <!-- STOCK MESSAGE -->
                                                        <span class="hikashop_product_stock_count">
                                                        </span>
                                                        <!-- EO STOCK MESSAGE -->
                                                        <!-- WAITLIST BUTTON -->
                                                        <!-- EO WAITLIST BUTTON -->

                                                        <input type="hidden" name="add" value="1" />
                                                        <!-- EO QUANTITY INPUT -->
                                                        <!-- ADD TO CART BUTTON -->
                                                        <button type="button" class="hikabtn hikacart"
                                                            onclick="if(window.hikashop.addToCart) { return window.hikashop.addToCart(this); }"
                                                            data-addToCart="4"
                                                            data-addTo-div="hikashop_category_information_menu_147"
                                                            data-addTo-class="add_in_progress"
                                                            data-href="static/shop/main-shop/product/updatecart/add-1/cid-4"><span>Enquire
                                                                Now</span></button>
                                                        <!-- EO ADD TO CART BUTTON -->
                                                        <!-- WISHLIST BUTTON -->
                                                        <!-- EO WISHLIST BUTTON -->
                                                        <!-- CHOOSE OPTIONS BUTTON -->
                                                        <!-- EO CHOOSE OPTIONS BUTTON -->
                                                        <!-- EO ADD TO CART BUTTON -->

                                                        <!-- COMPARISON -->
                                                        <!-- EO COMPARISON -->

                                                        <!-- CONTACT US BUTTON -->

                                                        <!-- EO CONTACT US BUTTON -->

                                                        <!-- PRODUCT DETAILS BUTTON -->

                                                        <!-- EO PRODUCT DETAILS BUTTON -->

                                                        <meta itemprop="url"
                                                            content="static/shop/main-shop/product/4-artificial-branch-flowers">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hkc-md-3 hikashop_product hikashop_product_column_4 hikashop_product_row_1"
                                            itemprop="itemList" itemscope="" itemtype="http://schema.org/ItemList">
                                            <div class="hikashop_container hikashop_zoom_hover">
                                                <div class="hikashop_subcontainer hikashop_subcontainer_border">
                                                    <div class="hikashop_listing_img_title"
                                                        style="padding-bottom: 20px;"
                                                        id="div_hikashop_category_information_menu_147_5">
                                                        <!-- IMAGE -->
                                                        <div class="hikashop_product_image">
                                                            <div class="hikashop_product_image_subdiv">
                                                                <a href="main-shop/product/5-round-artificial-flowers.html"
                                                                    class="">
                                                                    <img class="hikashop_product_listing_image"
                                                                        title="Round Artificial Flowers" alt="product3"
                                                                        src=" {% static 'images/chlorine-diffuser.jpg' %} " />
                                                                </a>
                                                                <meta itemprop="image"
                                                                    content=" {% static 'images/chlorine-diffuser.jpg' %} " />
                                                            </div>
                                                        </div>
                                                        <!-- EO IMAGE -->



                                                        <!-- CODE -->
                                                        <span class='hikashop_product_code_list'>
                                                        </span>
                                                        <!-- EO CODE -->

                                                        <!-- CUSTOM PRODUCT FIELDS -->
                                                        <!-- EO CUSTOM PRODUCT FIELDS -->

                                                        <!-- AFTER PRODUCT NAME AREA -->
                                                        <!-- EO AFTER PRODUCT NAME AREA -->

                                                        <!-- VOTE -->
                                                        <!-- EO VOTE -->

                                                        <!-- ADD TO CART BUTTON -->
                                                        <!-- SALE END MESSAGE -->
                                                        <!-- EO SALE END MESSAGE -->
                                                        <!-- SALE START MESSAGE -->
                                                        <!-- EO SALE START MESSAGE -->
                                                        <!-- STOCK MESSAGE -->
                                                        <span class="hikashop_product_stock_count">
                                                        </span>
                                                        <!-- EO STOCK MESSAGE -->
                                                        <!-- WAITLIST BUTTON -->
                                                        <!-- EO WAITLIST BUTTON -->

                                                        <input type="hidden" name="add" value="1" />
                                                        <!-- EO QUANTITY INPUT -->
                                                        <!-- ADD TO CART BUTTON -->
                                                        <button type="button" class="hikabtn hikacart"
                                                            onclick="if(window.hikashop.addToCart) { return window.hikashop.addToCart(this); }"
                                                            data-addToCart="5"
                                                            data-addTo-div="hikashop_category_information_menu_147"
                                                            data-addTo-class="add_in_progress"
                                                            data-href="static/shop/main-shop/product/updatecart/add-1/cid-5"><span>Enquire
                                                                Now</span></button>
                                                        <!-- EO ADD TO CART BUTTON -->
                                                        <!-- WISHLIST BUTTON -->
                                                        <!-- EO WISHLIST BUTTON -->
                                                        <!-- CHOOSE OPTIONS BUTTON -->
                                                        <!-- EO CHOOSE OPTIONS BUTTON -->
                                                        <!-- EO ADD TO CART BUTTON -->

                                                        <!-- COMPARISON -->
                                                        <!-- EO COMPARISON -->

                                                        <!-- CONTACT US BUTTON -->

                                                        <!-- EO CONTACT US BUTTON -->

                                                        <!-- PRODUCT DETAILS BUTTON -->

                                                        <!-- EO PRODUCT DETAILS BUTTON -->

                                                        <meta itemprop="url"
                                                            content="static/shop/main-shop/product/5-round-artificial-flowers">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                                <form action="https://greelan.themes-pro.com/shop/main-shop" method="post"
                                    name="adminForm_hikashop_category_information_menu_147_12_bottom">
                                    <div class="hikashop_products_pagination hikashop_products_pagination_bottom">
                                        <div class="list-footer pagination pagination-toolbar clearfix">

                                            <div class="limit">Display #<select id="limit" name="limit"
                                                    class="chzn-done inputbox" size="1" style="width:70px"
                                                    onchange="this.form.submit()">
                                                    <option value="12" selected="selected">12</option>
                                                    <option value="24">24</option>
                                                    <option value="36">36</option>
                                                    <option value="48">48</option>
                                                    <option value="60">60</option>
                                                    <option value="0">all</option>
                                                </select>
                                            </div>
                                            <div class="counter"></div>
                                            <input type="hidden" name="limitstart" value="0" />
                                        </div> <span class="hikashop_results_counter">
                                            Results 1 - 8 of 8</span>
                                    </div>
                                    <input type="hidden" name="filter_order_hikashop_category_information_menu_147_12"
                                        value="a.ordering" />
                                    <input type="hidden"
                                        name="filter_order_Dir_hikashop_category_information_menu_147_12" value="ASC" />
                                    <input type="hidden" name="de30a316263f55a39d92ad7cf4fcbf31" value="1">
                                </form>
                            </div>
                        </div>
                        <div class="hikashop_submodules" style="clear:both">
                        </div>
                        <!--  HikaShop Component powered by http://www.hikashop.com -->
                        <!-- version Starter : 4.5.1 [2204291442] -->
                        <div class="hikashop_footer" style="text-align:center"><a href="http://www.hikashop.com/"
                                target="_blank" title="HikaShop : Joomla!® Online Store Component">HikaShop , Joomla!®
                                Online Store Component</a></div>

                    </div>
                </main>
            </div>
        </div>
    </div>

</section>



<script
    nonce="OTI2MjgzMWY2MWI4ZjMzYjg5MmY5MzU5Y2U4MGViNDY5NzJhMTNlNzRlNGZiMGI4YjE4OGUwMjEyNmNlZTA4NTAwODQyYjEzODJkOGRkNTUzYzUzZTFmZTYxMjVmNTAyMWZhYjEyYmEzNDQ5NTkxZjI4N2I4MmUxMDBjODJhY2Q=">
        if (!window.localPage) window.localPage = {};
        window.localPage.cartRedirect = function (cid, pid, resp) { window.location = "main-shop/product/listing.html"; };
        window.localPage.wishlistRedirect = function (cid, pid, resp) { window.location = "../component/hikashop/product/listing.html"; };
    </script>
<script
    nonce="OTI2MjgzMWY2MWI4ZjMzYjg5MmY5MzU5Y2U4MGViNDY5NzJhMTNlNzRlNGZiMGI4YjE4OGUwMjEyNmNlZTA4NTAwODQyYjEzODJkOGRkNTUzYzUzZTFmZTYxMjVmNTAyMWZhYjEyYmEzNDQ5NTkxZjI4N2I4MmUxMDBjODJhY2Q=">template = "greelan";</script>
<script
    nonce="OTI2MjgzMWY2MWI4ZjMzYjg5MmY5MzU5Y2U4MGViNDY5NzJhMTNlNzRlNGZiMGI4YjE4OGUwMjEyNmNlZTA4NTAwODQyYjEzODJkOGRkNTUzYzUzZTFmZTYxMjVmNTAyMWZhYjEyYmEzNDQ5NTkxZjI4N2I4MmUxMDBjODJhY2Q=">; (function ($) {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-Token': Joomla.getOptions('csrf.token')
                }
            });
        })(jQuery);
    </script>
<script
    nonce="OTI2MjgzMWY2MWI4ZjMzYjg5MmY5MzU5Y2U4MGViNDY5NzJhMTNlNzRlNGZiMGI4YjE4OGUwMjEyNmNlZTA4NTAwODQyYjEzODJkOGRkNTUzYzUzZTFmZTYxMjVmNTAyMWZhYjEyYmEzNDQ5NTkxZjI4N2I4MmUxMDBjODJhY2Q=">
        jQuery.notify.defaults({ "arrowShow": false, "globalPosition": "top right", "elementPosition": "top right", "clickToHide": true, "autoHideDelay": 5000, "autoHide": true });
        window.cartNotifyParams = { "reference": "global", "img_url": "\/media\/com_hikashop\/images\/icons\/icon-32-newproduct.png", "redirect_url": "", "redirect_delay": 4000, "hide_delay": 5000, "title": "Product added to the cart", "text": "Product successfully added to the cart", "wishlist_title": "Product added to the wishlist", "wishlist_text": "Product successfully added to the wishlist", "list_title": "Products added to the cart", "list_text": "Products successfully added to the cart", "list_wishlist_title": "Products added to the wishlist", "list_wishlist_text": "Products successfully added to the wishlist", "err_title": "Product not added to the cart", "err_text": "Product not added to the cart", "err_wishlist_title": "Product not added to the wishlist", "err_wishlist_text": "Product not added to the wishlist" };
    </script>
{% endblock %}