{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}




<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    #hikashop_category_information_menu_147 div.hikashop_subcontainer,
    #hikashop_category_information_menu_147 .hikashop_rtop *,
    #hikashop_category_information_menu_147 .hikashop_rbottom * {
        background: #ffffff;
    }

    #hikashop_category_information_menu_147 div.hikashop_subcontainer,
    #hikashop_category_information_menu_147 div.hikashop_subcontainer span,
    #hikashop_category_information_menu_147 div.hikashop_container {
        text-align: center;
    }

    #hikashop_category_information_menu_147 div.hikashop_container {
        margin: 10px 10px;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    #hikashop_category_information_menu_147 .hikashop_product_image {
        height: 280px;
    }

    #hikashop_category_information_menu_147 .hikashop_product_image_subdiv {
        width: 280px;
    }
</style>

<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 400;
        text-decoration: none;
        text-align: left;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h3 {
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h4 {
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h5 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    h6 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    .sp-megamenu-parent>li>a,
    .sp-megamenu-parent>li>span,
    .sp-megamenu-parent .sp-dropdown li.sp-menu-item>a {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    .logo-image {
        height: 30px;
    }

    .logo-image-phone {
        height: 30px;
    }
</style>
<style
    nonce="YmI5YjIyNzZkNDM5YmIwOGE5ODc2MDU3ZDEzNzcyNGQ4MGZlYTJjZTAyOGYzMTRjOWMzM2U5ZTUwMjNlNDdjMWUyNzZjYWMyMmY1NzQ3MDAyN2M2YmY5Zjc2Y2JmYWIxODBiYWYxNjBmNTg0ZDU1MGFlOTI3MGVkODUyZWJiMzI=">
    #hikashop_category_information_module_129 div.hikashop_subcontainer,
    #hikashop_category_information_module_129 .hikashop_rtop *,
    #hikashop_category_information_module_129 .hikashop_rbottom * {
        background: #ffffff;
    }

    #hikashop_category_information_module_129 div.hikashop_subcontainer,
    #hikashop_category_information_module_129 div.hikashop_subcontainer span,
    #hikashop_category_information_module_129 div.hikashop_container {
        text-align: center;
    }

    #hikashop_category_information_module_129 div.hikashop_container {
        margin: 10px 10px;
    }

    #hikashop_category_information_module_129 .hikashop_subcontainer {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
    }
</style>
<style>
    @media (min-width: 375px) and (max-width: 769px) {
        .hikashop_product_image_subdiv img {
            padding-left: 0px;
            margin: 0px;
        }

        .hikabtn.hikacart {
            font-size: 10px;
        }
    }
</style>









<section id="sp-title">



    <div class="row">
        <div id="sp-title" class="col-lg-12 ">
            <div class="sp-column ">
                <div class="sp-page-title" style="background-color: #f4f5f9;">
                    <div class="container">
                        <h2 class="sp-page-title-heading">Our Products</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="sp-main-body">

    <div class="container">
        <div class="container-inner">


            <div class="row">
                <aside id="sp-right" class="col-lg-4 ">
                    <div class="sp-column ">
                        <div class="sp-module m-5 " style="border: none;">

                            <div class="sp-module-content">

                                <ul class="food-menu-filter  mod-articlescategories categories-module mod-list d-flex ">
                                    <li class="active" data-filter="*" style="padding: 30px;line-height: 20px;">All</li>
                                    &nbsp;
                                    {% for category in category %}
                                    <li data-filter=".{{category.category_name|slugify}}"
                                        style="padding: 20px;line-height: 20px;">{{category.category_name}}</li>&nbsp;
                                    {% endfor %}

                                </ul>

                            </div>

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>


</section>


<section id="sp-main-body" style="padding-top: 76px;padding-bottom: 76px;">

    <div class="container">
        <div class="container-inner">



            <div class="row">

                <main id="sp-component" class="col-lg-12 ">
                    <div class="sp-column ">
                        <div id="system-message-container" aria-live="polite">
                        </div>



                        <div id="hikashop_category_information_menu_147"
                            class="hikashop_category_information hikashop_products_listing_main hikashop_product_listing_12 filter_refresh_div"
                            data-refresh-class="hikashop_checkout_loading"
                            data-refresh-url="https://greelan.themes-pro.com/shop/main-shop?tmpl=raw&filter=1"
                            data-use-url="1">
                            <div class="hikashop_checkout_loading_elem"></div>
                            <div class="hikashop_checkout_loading_spinner"></div>
                            <div class="hikashop_products_listing">
                                <div id="hikashop_products_switcher_hikashop_category_information_menu_147"
                                    class="hikashop_products " data-consistencyheight=".hikashop_subcontainer"
                                    itemscope="" itemtype="https://schema.org/itemListElement">

                                    <div class="row product-items">



                                        {% for product in products %}
                                        <div class="hkc-md-3 hkc-sm-6 hkc-6 hikashop_product hikashop_product_column_1 hikashop_product_row_1 isotop-grid {{product.category.category_name|slugify}}"
                                            itemprop="itemList" itemscope="" itemtype="http://schema.org/ItemList">
                                            <div class="hikashop_container hikashop_zoom_hover">
                                                <div class="hikashop_subcontainer hikashop_subcontainer_border">
                                                    <div class="hikashop_listing_img_title"
                                                        style="padding-bottom: 20px;"
                                                        id="div_hikashop_category_information_menu_147_1">
                                                        <!-- IMAGE -->
                                                        <div class="hikashop_product_image">
                                                            <div class="hikashop_product_image_subdiv">
                                                                <a href="main-shop/product/1-gardening-artificial-flowers.html"
                                                                    class="">
                                                                    <img class="hikashop_product_listing_image"
                                                                        title="Gardening Artificial Flowers"
                                                                        alt="product2"
                                                                        src="{{product.product_image.url}}" />
                                                                </a>
                                                                <meta itemprop="image"
                                                                    content="{{product.product_image.url}}" />
                                                            </div>
                                                        </div>
                                                        <!-- EO IMAGE -->
                                                        <span class="hikashop_product_name">
                                                            
                                                            {{product.product_name}}
                                                        </span>

                                        
                                                        <br><br><button type="button" id="enqrybtn"  class="hikabtn hikacart" ><span>Enquire Now</span></button>
                             

                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>


                                </div>
                                
                            </div>
                        </div>
                        
                     
                </main>
            </div>
        </div>
    </div>

</section>










<div class="modal fade" id="exampleModal" aria-hidden="true" 
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalToggleLabel">Enquiry Now</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST" action="{% url 'web:enquiry' %}" class="sppb-addon-form-builder-form ajax" enctype="multipart/form-data">{% csrf_token %}
            <div class="modal-body">
              
                <label for="recipient-name" class="col-form-label" required>Name: </label>
                <input type="text" name="name" class="form-control" id="recipient-name" required>{{forms.name}}

                <label for="phn-name" class="col-form-label">Phone Number: </label>
                <input type="text" name="phone" class="form-control" id="phn-name" required>{{forms.phone}}

                <label for="prdct-name" class="col-form-label">Product name: </label>
                <input type="text" name="product_name" class="form-control" id="prdct-name" required>{{forms.product_name}}

                <label for="qty-name" class="col-form-label">Quantity: </label>
                <input type="number" name="quantity" class="form-control" id="qty-name" required>{{forms.quantity}}
           
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggleLabel" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>





<script type="text/javascript">

    $(document).ready(function () {

        $("#enqrybtn").click(function () {
        
            $('#exampleModal').modal('show');

        });

    });

</script>






{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="{% static 'components/com_sppagebuilder/assets/js/imageload.js' %}"></script>
<script src="{% static 'components/com_sppagebuilder/assets/js/isotop.js' %}"></script>
<script src="{% static 'components/com_sppagebuilder/assets/js/custom.js' %}"></script>
{% endblock %}