{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<section id="sp-title" style="    background-color: #ffffff;">



    <div class="row">
        <div id="sp-title" class="col-lg-12 ">
            <div class="sp-column ">
                <div class="sp-page-title" style="background-color: #f4f5f9;">
                    <div class="container">
                        <h2 class="sp-page-title-heading">services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="section-id-1651002603724" class="sppb-section" style="    background-color: #ffffff;">
    <div class="sppb-row-container">
        <div class="sppb-row">
            <div class="sppb-col-md-5" id="column-wrap-id-1651002603723">
                <div id="column-id-1651002603723" class="sppb-column">
                    <div class="sppb-column-addons">
                        <div id="sppb-addon-wrapper-1651002603728" class="sppb-addon-wrapper">
                            <div id="sppb-addon-1651002603728" class="clearfix ">
                                <div class="sppb-addon sppb-addon-single-image sppb-text-left animate-float-bob-y">
                                    <div class="sppb-addon-content">
                                        <div class="sppb-addon-single-image-container">
                                            <img class="sppb-img-responsive" src="{% static 'images/aboutus.png' %}"
                                                alt="Image" title="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sppb-col-md-7" id="column-wrap-id-1651002603725">
                <div id="column-id-1651002603725" class="sppb-column">
                    <div class="sppb-column-addons">
                        <div id="sppb-addon-wrapper-1651002603731" class="sppb-addon-wrapper">
                            <div id="sppb-addon-1651002603731" class="clearfix ">
                                <div class="sppb-addon sppb-addon-single-image sppb-text-left ">
                                    <div class="sppb-addon-content">
                                        <div class="sppb-addon-single-image-container">
                                            <img class="sppb-img-responsive" src="{% static 'images/theme-title.png' %}"
                                                alt="Image" title="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sppb-addon-wrapper-1651067718130" class="sppb-addon-wrapper">
                            <div id="sppb-addon-1651067718130" class="clearfix ">
                                <div class="sppb-addon sppb-addon-text-block sppb-text-left ">
                                    <h3 class="sppb-addon-title">OUR SERVICES

                                    </h3>
                                    <div class="sppb-addon-content">The BET (BIO ENVIRON TECH) is an innovative Research & Development oriented environmental pollution diagnosis and scientific solution provider equipped with advanced technologies, products, services. We provide services in Water Quality Testing, Water Purification, Water Conservation, Waste Water Treatment, Rain Water Harvesting and Recharging, Integrated Solid Waste Management, Biogas, Incinerators, Solar Energy Generation Systems and Consultancy for households, industries, communities and public sector.

                                        The team BET is an initiative of a group of experienced engineers and applied science researchers with excellent track record.
                                        
                                        We provide technical consultancy services for total environment management, pollution diagnosis, project design, site supervision, erection and commissioning, extend assistance for govt. approvals, plant operation and maintenance, AMC for households, industries, communities and public sector.
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %} <div id="sppb-addon-wrapper-1651067718137" class="sppb-addon-wrapper">
                            <div id="sppb-addon-1651067718137" class="clearfix ">
                                <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                    <div class="sppb-addon-content sppb-text-left">
                                        <div class="sppb-media">
                                            <div class="pull-left">
                                                <div class="sppb-icon"><span class="sppb-icon-container"
                                                        aria-label=""><i class="fas fa-check"
                                                            aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                            <div class="sppb-media-body">
                                                <div class="sppb-media-content">
                                                    <div class="sppb-addon-text">More than 10 years of technical and research experience in the field..</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sppb-addon-wrapper-1651002603753" class="sppb-addon-wrapper">
                            <div id="sppb-addon-1651002603753" class="clearfix ">
                                <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                    <div class="sppb-addon-content sppb-text-left">
                                        <div class="sppb-media">
                                            <div class="pull-left">
                                                <div class="sppb-icon"><span class="sppb-icon-container"
                                                        aria-label=""><i class="fas fa-check"
                                                            aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                            <div class="sppb-media-body">
                                                <div class="sppb-media-content">
                                                    <div class="sppb-addon-text"> ISO 9001:2015 Certified, MSME Approved, Govt. of Kerala recognized.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div id="sppb-addon-wrapper-1651002603745" class="sppb-addon-wrapper">
                            <div id="sppb-addon-1651002603745" class="clearfix ">
                                <div class="sppb-addon sppb-addon-raw-html ">
                                    <div class="sppb-addon-content"><a class="btn btn_secondary" href="#!">About us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sp-main-body">



    <div class="row">

        <main id="sp-component" class="col-lg-12 ">
            <div class="sp-column ">
                <div id="system-message-container" aria-live="polite">
                </div>




                <div id="sp-page-builder" class="sp-page-builder  page-8">


                    <div class="page-content">
                        <section id="section-id-1651171339118" class="sppb-section">
                            <div class="sppb-row-container">
                                <div class="sppb-row">
                                    <div class="sppb-col-md-6" id="column-wrap-id-1651171339070">
                                        <div id="column-id-1651171339070" class="sppb-column">
                                            <div class="sppb-column-addons">
                                                <div id="sppb-addon-wrapper-1651171339071" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339071" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-single-image sppb-text-left ">
                                                            <div class="sppb-addon-content">
                                                                <div class="sppb-addon-single-image-container"><img
                                                                        class="sppb-img-responsive"
                                                                        src="{% static 'images/theme-title.png' %}" alt="Image"
                                                                        title="" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651171339072" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339072" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-text-block sppb-text-left ">
                                                            <!-- <h3 class="sppb-addon-title">We Are Experienced & We Have
                                                                Team</h3>
                                                            <div class="sppb-addon-content">Curabitur a magna mi. Cras
                                                                facilisis lacus a magna luctus, nec pharetra ex varius.
                                                                Sed placerat suscipit massa, sed lobo rtis ex
                                                                sollicitudin non.</div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651171339073" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339073" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                            <div class="sppb-addon-content sppb-text-left">
                                                                <div class="sppb-media">
                                                                    <div class="pull-left">
                                                                        <div class="sppb-icon"><span
                                                                                class="sppb-icon-container"
                                                                                aria-label=""><i class="fas fa-check"
                                                                                    aria-hidden="true"></i></span></div>
                                                                    </div>
                                                                    <div class="sppb-media-body">
                                                                        <div class="sppb-media-content">
                                                                            <div class="sppb-addon-text">More than 10 years of technical and research experience in the field.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651171339074" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339074" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                            <div class="sppb-addon-content sppb-text-left">
                                                                <div class="sppb-media">
                                                                    <div class="pull-left">
                                                                        <div class="sppb-icon"><span
                                                                                class="sppb-icon-container"
                                                                                aria-label=""><i class="fas fa-check"
                                                                                    aria-hidden="true"></i></span></div>
                                                                    </div>
                                                                    <div class="sppb-media-body">
                                                                        <div class="sppb-media-content">
                                                                            <div class="sppb-addon-text"> ISO 9001:2015 Certified, MSME Approved, Govt. of Kerala recognized.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651171339073" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339073" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                            <div class="sppb-addon-content sppb-text-left">
                                                                <div class="sppb-media">
                                                                    <div class="pull-left">
                                                                        <div class="sppb-icon"><span
                                                                                class="sppb-icon-container"
                                                                                aria-label=""><i class="fas fa-check"
                                                                                    aria-hidden="true"></i></span></div>
                                                                    </div>
                                                                    <div class="sppb-media-body">
                                                                        <div class="sppb-media-content">
                                                                            <div class="sppb-addon-text">Five plus Patent pending technologies.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651171339073" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339073" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                            <div class="sppb-addon-content sppb-text-left">
                                                                <div class="sppb-media">
                                                                    <div class="pull-left">
                                                                        <div class="sppb-icon"><span
                                                                                class="sppb-icon-container"
                                                                                aria-label=""><i class="fas fa-check"
                                                                                    aria-hidden="true"></i></span></div>
                                                                    </div>
                                                                    <div class="sppb-media-body">
                                                                        <div class="sppb-media-content">
                                                                            <div class="sppb-addon-text">More than 100 different technologies, products and services.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651171339073" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339073" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                            <div class="sppb-addon-content sppb-text-left">
                                                                <div class="sppb-media">
                                                                    <div class="pull-left">
                                                                        <div class="sppb-icon"><span
                                                                                class="sppb-icon-container"
                                                                                aria-label=""><i class="fas fa-check"
                                                                                    aria-hidden="true"></i></span></div>
                                                                    </div>
                                                                    <div class="sppb-media-body">
                                                                        <div class="sppb-media-content">
                                                                            <div class="sppb-addon-text">Economical, user friendly and innovative designs.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651171339073" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339073" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                            <div class="sppb-addon-content sppb-text-left">
                                                                <div class="sppb-media">
                                                                    <div class="pull-left">
                                                                        <div class="sppb-icon"><span
                                                                                class="sppb-icon-container"
                                                                                aria-label=""><i class="fas fa-check"
                                                                                    aria-hidden="true"></i></span></div>
                                                                    </div>
                                                                    <div class="sppb-media-body">
                                                                        <div class="sppb-media-content">
                                                                            <div class="sppb-addon-text">Skilled execution team and Time bound completion of the projects and service backup.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651171339073" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339073" class="clearfix ">
                                                        <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                            <div class="sppb-addon-content sppb-text-left">
                                                                <div class="sppb-media">
                                                                    <div class="pull-left">
                                                                        <div class="sppb-icon"><span
                                                                                class="sppb-icon-container"
                                                                                aria-label=""><i class="fas fa-check"
                                                                                    aria-hidden="true"></i></span></div>
                                                                    </div>
                                                                    <div class="sppb-media-body">
                                                                        <div class="sppb-media-content">
                                                                            <div class="sppb-addon-text">Our position of strength has been attained by the scientific expertise, acquired by us through continuous R&D for the new products/ technologies, upgrading the existing ones or indigenization of foreign technologies obtained through collaborations.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sppb-col-md-3" id="column-wrap-id-1651171339063">
                                        <div id="column-id-1651171339063" class="sppb-column">
                                            <div class="sppb-column-addons">
                                                <div id="sppb-addon-wrapper-1651171339064" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339064" class="clearfix ">
                                                        <div class="sppb-empty-space  clearfix"></div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651171339065" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339065" class="clearfix ">
                                                        <div
                                                            class="sppb-addon sppb-addon-single-image sppb-text-center ">
                                                            <div class="sppb-addon-content">
                                                                <div class="sppb-addon-single-image-container"><img
                                                                        class="sppb-img-responsive"
                                                                        src="{% static 'images/member3.jpg' %}" alt="Image"
                                                                        title="" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651171339066" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339066" class="clearfix ">
                                                        <div
                                                            class="sppb-addon sppb-addon-single-image sppb-text-center ">
                                                            <div class="sppb-addon-content">
                                                                <div class="sppb-addon-single-image-container"><img
                                                                        class="sppb-img-responsive"
                                                                        src="{% static 'images/p1.jpg' %}" alt="Image" title="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sppb-col-md-3" id="column-wrap-id-1651171339067">
                                        <div id="column-id-1651171339067" class="sppb-column">
                                            <div class="sppb-column-addons">
                                                <div id="sppb-addon-wrapper-1651171339068" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339068" class="clearfix ">
                                                        <div
                                                            class="sppb-addon sppb-addon-single-image sppb-text-center ">
                                                            <div class="sppb-addon-content">
                                                                <div class="sppb-addon-single-image-container"><img
                                                                        class="sppb-img-responsive"
                                                                        src="{% static 'images/slide2.jpg' %}" alt="Image"
                                                                        title="" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sppb-addon-wrapper-1651171339069" class="sppb-addon-wrapper">
                                                    <div id="sppb-addon-1651171339069" class="clearfix ">
                                                        <div
                                                            class="sppb-addon sppb-addon-single-image sppb-text-center ">
                                                            <div class="sppb-addon-content">
                                                                <div class="sppb-addon-single-image-container"><img
                                                                        class="sppb-img-responsive"
                                                                        src="{% static 'images/member4.jpg' %}" alt="Image"
                                                                        title="" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                      
                        
                    </div>
                </div>



            </div>
        </main>
    </div>

</section>

{% endblock %}