/*Heading*/
h1,
h2,
h3,
h4,
h5,
h5 {
letter-spacing: -0.5px;
}
@media (max-width:1199px) {
#offcanvas-toggler {
display: block !important;
}
.sp-megamenu-parent {
display: none !important;
}
#sp-header {
height: 60px;
}
#sp-header .logo {
height: 60px;
}
#offcanvas-toggler {
height: 50px;
padding-top: 17px;
}
}

#sp-header .sp-megamenu-parent > li:hover > a,
#sp-header .sp-megamenu-parent > li.active:hover > a {
color: var(--hover_color) !important;
}
#sp-header .sp-megamenu-parent > li > a {
color: var(--body_color) !important;
}
#sp-header .sp-megamenu-parent > li.active > a,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a:hover {
color: var(--primary_color) !important;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active > a {
color: var(--dark_color) !important;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active > a:hover {
color: var(--hover_color) !important;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
padding: 0px;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item {
padding: 9px 20px;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item:last-child {
padding: 10px 20px;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item:not(:last-child) {
border-bottom: 1px solid rgba(14, 32, 77, 0.07);
}
#sp-menu .sp-column.d-flex {
display: block !important;
}

#sp-topbars .sppb-addon-icons-group.icons-group-title-postion-left,
#sp-topbars .sppb-addon-icons-group.icons-group-title-postion-right {
display: block;
}
#sp-header-topbar {
background: #ffffff;
}
#sp-header-topbar a:hover {
color: var(--hover_color);
}
/*start menu mini*/
@media (min-width: 1024px) {
.logo-image {
height: 45px !important;
}
}
@media (min-width: 1024px) {
#sp-header.mini-header .sp-megamenu-parent > li > a {
color: #ffffff !important;
}
#sp-header.mini-header .sp-dropdown.sp-dropdown-main.sp-menu-full {
margin-right: -26% !important;
}
#sp-header.mini-header .sp-megamenu-parent > li > a,
#sp-header.mini-header .header-sticky.sp-megamenu-parent > li > a,
#sp-header.mini-header i {
color: #ffffff;
}
#sp-header.mini-header.header-sticky {
position: fixed !important;
width: 100% !important;
top: 0px !important;
opacity: 0.98;
transition: all .4s;
border-radius: 0px;
}

#sp-header.mini-header {
top: 135px;
padding-left: 40px;
padding-right: 40px;
transition: all .4s;
}
#sp-header.mini-header {
left: 0!important;
right: 0!important;
position: absolute;
width: 82.5%;
margin: auto!important;
display: block!important;
border-radius: 5px;
box-shadow: 0px 0px 50px rgba(5, 5, 5, 0.08);
background: var(--primary_color);
}
#sp-under-header-mini{
padding: 36px 0 75px 0;
border-bottom: 2px solid var(--primary_color);
}
#sp-under-header-mini .logo-image {
height: auto !important;
}
}
#sp-top3 .d-flex {
display: block !important;
}
#sp-top3 {
text-align: right;
float: right;
}
#sp-header.transparent i,
#sp-header.transparent .sp-megamenu-parent > li > a {
color: #ffffff !important;
}
#sp-header.transparent.header-sticky i {
color: #ffffff !important;
}

#sp-header.transparent {
z-index: 999;
transition: all .4s;
}
#sp-header.transparent {
position: absolute;
top: 0;
background: transparent;
transition: all .4s;
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0);
transition: all .4s;
}

#sp-header.transparent.header-sticky {
position: fixed;
z-index: 9999 !important;
transition: all .4s;
height: 80px;
top: 0;
background: var(--dark_color)!important;
transition: all .4s;
border-bottom: 0px solid #fff;
}

/*end heading*/

/*title*/
.sp-page-title {
padding-top: 142px;
padding-bottom: 142px;
background-size: cover;
background-position: center;
}
.sp-page-title .sp-page-title-heading {
font-size: 64px;
color: var(--dark_color);
line-height: 1;
font-weight: 600;
}

.sp-page-title {
background-size: cover;
background-repeat: no-repeat;
background-position: center 0px;
}

.sp-page-title .container {
position: relative;
z-index: 1;
text-align: center;
}

/*end title*/

/*Body*/
p,
body,
.sp-preloader {
/* color: var(--body_color) !important; */
font-size: 18px !important;
font-weight: 400;
line-height: 29px !important;
}
.article-body {
border: 2px solid #f3f3f3;
padding: 40px 50px 35px 50px ;
}

.article-list .article {
margin-bottom: 40px;
padding: 0;
border-radius: 0px;
border: 0px solid #f3f3f3;
}
.article-list .article .article-header h1,
.article-list .article .article-header h2 {
font-size: 34px;
line-height: 1.353;
margin-bottom: 23px;
font-weight: 600;
letter-spacing: -0.5px;
}
.article-list .article .article-header h1 a,
.article-list .article .article-header h2 a {
font-size: 34px;
line-height: 1.353;
font-weight: 600;
color: var(--var(--dark_color));
}
.article-list .article .article-intro-image,
.article-list .article .article-featured-video,
.article-list .article .article-featured-audio,
.article-list .article .article-feature-gallery {
border-radius: 0 important;
border-bottom: 0px solid #f4f5f9;
}
.article-introtext {
margin-bottom: 0px;
}
.article-list .article .article-intro-image,
.article-list .article .article-featured-video,
.article-list .article .article-featured-audio,
.article-list .article .article-feature-gallery {
border-radius: 0;
border-bottom: 0px solid #f4f5f9;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
}
.article-list .article .article-intro-image img,
.article-list .article .article-featured-video img,
.article-list .article .article-featured-audio img,
.article-list .article .article-feature-gallery img {
border-radius: 0;
width: 100%;
}

.article-list .article .article-intro-image,
.article-list .article .article-featured-video,
.article-list .article .article-featured-audio,
.article-list .article .article-feature-gallery {
margin: -2px 0 0 0 !important;
}
#sp-main-body {
background: #ffffff;
}
.article-details h3,
.article-details .article-header h1,
.article-details .article-header h2 {
font-size: 26px;
font-weight: 600;
line-height: 1.55;
margin-bottom: 20px;
color: var(--dark_color);
}
.article-details .article-full-image img {
width: 100%;
border-radius: 0;
}

/*.article-details .article-full-image {
margin-top: -40px;
margin-left: -40px;
margin-right: -40px;
}*/

blockquote {
position: relative;
background-color: #f3f5f8;
padding: 35px 50px;
border-radius: 7px;
margin: 35px 0;
}
blockquote::before {
content: "";
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 4px;
background-color: var(--primary_color);
border-radius: 2px;
}
blockquote cite {
position: relative;
display: block;
font-size: 18px;
font-weight: 600;
font-style: normal;
color: var(--dark_color);
line-height: 1;
margin-top: 15px;
padding-left: 60px;
}

blockquote p {
margin: 0;
font-weight: 600;
font-size: 24px;
line-height: 1.5;
color: var(--hover_color);
}
blockquote cite::before {
content: "";
position: absolute;
left: 0;
top: 50%;
width: 40px;
height: 3px;
background-color: var(--dark_color);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
.article-list .article .article-header h1 a:hover,
.article-list .article .article-header h1 a:active,
.article-list .article .article-header h1 a:focus,
.article-list .article .article-header h2 a:hover,
.article-list .article .article-header h2 a:active,
.article-list .article .article-header h2 a:focus {
color: var(--primary_color);
}
.com-content #sp-left .sp-module,
.com-content #sp-right .sp-module {
border: 2px solid #f3f3f3;
padding: 25px;
}

#sp-left .sp-module.nopadding,
#sp-right .sp-module.nopadding {
padding: 35px 0px 0 0;
border-radius: 0;
margin-top: 0px;
border-top-left-radius: 0px;
border-bottom-left-radius: 30px;
border-top-right-radius: 30px;
}
#sp-left .sp-module .sp-module-title,
#sp-right .sp-module .sp-module-title {
font-size: 22px;
font-weight: 500;
padding-bottom: 25px;
border-bottom: 1px solid #efefef;
color: var(--dark_color);
letter-spacing: -0.5px;
}
#sp-left .sp-module .sp-module-title:after,
#sp-right .sp-module .sp-module-title:after {
content: "";
position: absolute;
width: 85px;
height: 1px;
background-color: var(--hover_color);
bottom: -1px;
left: 0;
}

#sp-left .sp-module input[type="text"],
#sp-right .sp-module input[type="text"] {
border-radius: 0px;
font-size: 16px;
font-weight: 400;
color: #4d6581;
height: 60px;
padding: 0 26px;
border-color: #f4f5f9;
background-color: #f4f5f9;
height: 60px;
padding: 0 26px;
border-color: #f4f5f9;
background-color: #f4f5f9;

}
@media (min-width: 1199px) {
.view-article #sp-left .sp-column,
.view-article #sp-right .sp-column,
.layout-blog #sp-left .sp-column,
.layout-blog #sp-right .sp-column {
padding-left: 5%;
}
}


#sp-left .sp-module .sp-module-title,
#sp-right .sp-module .sp-module-title {
position: relative;
}

#sp-left .sp-module .sp-module-title:after,
#sp-right .sp-module .sp-module-title:after {
background-color: var(--hover_color);
height: 1px;
width: 67px;
}
#sp-left .sp-module li,
#sp-right .sp-module li {
border-bottom: 0px solid #f3f3f3;
}

#sp-left .categories-module li,
#sp-right .categories-module li {
background-color: #f8f8f8;
padding: 5px 25px;
margin-bottom: 7px;
transition: all 0.3s ease-out 0s;
border: 2px solid #f8f8f8 !important;

}
#sp-left .categories-module li:hover,
#sp-right .categories-module li:hover {
color: var(--dark_color);
transition: all 0.3s ease-out 0s;
border-top-left-radius: 0px;
border-bottom-left-radius: 30px;
border-top-right-radius: 30px;
transition: all 0.3s ease-out 0s;
border: 2px solid var(--primary_color) !important;
}
.categories-module li a:hover {
color: var(--dark_color) !important;
}
.categories-module li a {
display: block;
color: #4d6581 !important;
position: relative;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
}
.categories-module li:not(:last-child) {
margin-bottom: 2px;
}
.categories-module {
padding-top: 0px !important;
}

#sp-left .sp-module .tagscloud .tag-name,
#sp-right .sp-module .tagscloud .tag-name {
padding: 7px 22px;
background: #f3f5f8;
color: #4d6581;
border-top-left-radius: 0px;
border-bottom-left-radius: 30px;
border-top-right-radius: 30px;
margin-bottom: 6px;
}
#sp-left .sp-module .tagscloud .tag-name:hover,
#sp-right .sp-module .tagscloud .tag-name:hover {
background: var(--primary_color);
color: #ffffff;
}
#sp-left .sp-module .tagscloud,
#sp-right .sp-module .tagscloud {
margin: 35px 0 0 0;
}
#sp-component.col-lg-12 .article-list .article-header h2 a {
font-size: 30px;
line-height: 38px;
}
/*end body*/

/*Footer*/

/*end footer*/

/*blog*/

/*end blog*/

/*shop*/
.hikashop_product_image_subdiv img {
max-height: 200px;
text-align: center;
margin: auto auto 0px auto;
padding-top: 15px;
padding-bottom: 0px;
}
.com-hikashop.view-product .hikashop_product_price_full,
.view-category .hikashop_product_price_full {
font-size: 16px;
font-weight: 500;
margin-right: 8px;
color: var(--primary_color);
}
.view-category .hikashop_product_name a,
.com-hikashop.view-product .hikashop_product_name a {
font-size: 18px;
font-weight: 600;
margin-bottom: 5px;
color: var(--dark_color);
}

.hikashop_carousel .hikashop_subcontainer_border,
.hikashop_categories_listing_main .hikashop_subcontainer.hikashop_subcontainer_border,
.hikashop_category_information .hikashop_subcontainer.hikashop_subcontainer_border {
transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
border: 1px solid var(--body_color);
}

.hikashop_carousel .hikashop_subcontainer_border,
.hikashop_categories_listing_main .hikashop_subcontainer.hikashop_subcontainer_border,
.hikashop_category_information .hikashop_subcontainer.hikashop_subcontainer_border {
border: 2px solid #f4f5f9;
transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.hikashop_carousel .hikashop_subcontainer_border:hover,
.hikashop_categories_listing_main .hikashop_subcontainer.hikashop_subcontainer_border:hover,
.hikashop_category_information .hikashop_subcontainer.hikashop_subcontainer_border:hover {
border: 2px solid var(--primary_color);
transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}


.nounder .jpane-slider.content {
display: none;
}
.hikashop_module.nounder .hikashop_subcategories .panel h4 a {
color: #616161;
line-height: 35px;
font-size: 16px;
font-weight: 400;
transition: all 0.3s ease-out 0s;
}
.hikashop_module.nounder .hikashop_subcategories .panel h4:hover a {
color: var(--hover_color);
padding-left: 10px;
}

.sidebar-rit {
border: 1px solid rgba(14, 32, 77, 0.07);
padding: 30px 20px 30px 30px !important;
}

.sidebar-rit .sppb-addon-title:before,
.sidebar-rit .sppb-addon-title:after {
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 1px;
width: 100%;
background-color: rgba(46, 39, 157, 0.1);
}
.sidebar-rit .sppb-addon-title {

font-weight: 500;
line-height: 1.2;
color: var(--hover_color);
position: relative;
}

.sidebar-rit .sppb-addon-title:after {
background-color: var(--dark_color);
height: 2px;
width: 65px;
}
.sidebar-rit .sppb-addon-title {
padding-bottom: 15px;
margin-bottom: 30px;

font-weight: 500;
line-height: 1.2;
color: var(--hover_color);
position: relative;
}
.hikashop_small_cart_total_title {
color: var(--dark_color);
text-align: center;
}
.hikashop_small_cart_total_title:hover {
color: var(--dark_color);
}
.layout-listing .hikacart {
position: absolute;
left: 45%;
-webkit-transform: translateX(-40%);
transform: translateX(-40%);
top: 50%;
}
.layout-listing .hikacart:hover {
color: #fff;
background-color: var(--dark_color);
border-color: var(--dark_color);
transition: all 0.3s ease-out 0s;
}
.hikashop_cart_proceed_to_checkout {
margin-top: 15px;

}
.hikashop_cart_proceed_to_checkout,
.hikabtn-primary,
.hikabtn_checkout_next,
.hikacart {
color: #fff;
background-color: var(--hover_color);
border-color: var(--hover_color);
padding: 12px 25px;
font-weight: 600;
transition: all 0.3s ease-out 0s;
}
.hikashop_cart_proceed_to_checkout:hover,
.hikabtn-primary:hover,
.hikabtn_checkout_next:hover,
.hikacart:hover {
color: #fff;
background-color: var(--dark_color);
border-color: var(--dark_color);
transition: all 0.3s ease-out 0s;
}
.hikashop_product {
position: relative;
margin-bottom: 20px;
}
.layout-listing .hikashop_product:hover .hikacart {
opacity: 1;
transition: all 0.3s ease-out 0s;
}
.layout-listing .hikashop_product .hikacart {
opacity: 0;
transition: all 0.3s ease-out 0s;
}
.hikashop_products_pagination.hikashop_products_pagination_bottom,
div.hikashop_footer {
display: none !important;
}
.layout-show .hikashop_product_quantity_field {
height: 60px !important;
border-radius: 3px !important;
border: 2px solid rgba(85, 85, 85, 0.2) !important;
padding: 0 3px !important;
text-align: center !important;
}
.hikashop_product_quantity_change_div_plus_default a,
.hikashop_product_quantity_change_div_minus_default a {
line-height: 25px !important;
}
.hikashop_product_quantity_change_div_plus_default,
.hikashop_product_quantity_change_div_minus_default {
line-height: 25px !important;
border: 2px solid rgba(85, 85, 85, 0.2) !important;
}
.hikashop_product_quantity_main {
margin-bottom: 25px;
}
#hikashop_product_tags_main.hikashop_product_tags {
display: none !important;
}

#hikashop_product_description_main .hideindesc {
display: none;
}
#hikashop_cart_module.hikashop_cart_module {
padding-left: 50px;
}
.hikashop_category_name a {
color: var(--body_color);
}
.hikashop_category_name a:hover {
color: var(--primary_color);
}

#sp-right .hikashop_category_information .hikashop_subcontainer,
#sp-right .hikashop_categories_listing_main .hikashop_subcontainer {
padding: 0px;
}
.com-hikashop #sp-left .sp-module,
.com-hikashop #sp-right .sp-module {
border: 2px solid #f3f3f3;
border-radius: 0;
}
.layout-listing .hikashop_product_quantity_div.hikashop_product_quantity_input_div_default,
.layout-listing .hikashop_product_quantity_div.hikashop_product_quantity_change_div_default,
.layout-listing
.hikashop_product_quantity_div.hikashop_product_quantity_add_to_cart_div.hikashop_product_quantity_add_to_cart_div_default
{
display: none !important;
}

.layout-show #hikashop_main_image {
background-color: #eef2f6;
margin-bottom: 25px;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.layout-show .hikashop_product_main_image_subdiv{
background-color: #ffffff;
height: 500px;
border: 2px solid #f4f5f9;
}
.hikashop_product_main_image {
height: 500px;
}
.view-checkout .layout-show #hikashop_main_image {
background: #ffffff !important;
}
div.hikashop_container {
margin: 5px 0px !important;
}
.hikashop_checkout_login h1,
.layout-show #hikashop_product_name_main {
font-size: 50px;
font-weight: 500;
line-height: 1.2;
color: var(--dark_color);
letter-spacing: -0.5px;
}
.layout-show .hikashop_product_price_per_unit {
font-size: 16px;
font-weight: 400;
color: #777777;
}
.layout-show #sp-component .hikashop_product_price {
font-size: 40px;
font-weight: 800;
color: var(--primary_color);
}
.view-checkout #sp-component .hikashop_product_price {
font-size: 16px;
font-weight: 400;
color: var(--primary_color);
}

#hikashop_product_right_part {
padding-left: 3%;
}

.layout-show .hikashop_product_quantity_change_div_plus_default,
.layout-show .hikashop_product_quantity_change_div_minus_default {
border: 1px solid rgba(0, 0, 0, 0.15);
padding: 0 5px;
border-radius: 3px;
margin-bottom: 2px;
}

.layout-show .hikashop_product_quantity_change_div_plus_default a,
.layout-show .hikashop_product_quantity_change_div_minus_default a {
color: var(--dark_color);
}
.layout-show .hikashop_product_quantity_change_div_plus_default a:hover,
.layout-show .hikashop_product_quantity_change_div_minus_default a:hover {
color: var(--hover_color);
}
.layout-show .hikacart {
padding: 12px 35px;
height: 60px;
}

.hikashop_checkout_login h1 {
font-size: 35px;
font-weight: 700;
margin-bottom: 15px;
color: var(--dark_color);
}
.hikashop_checkout_login h2 {
font-size: 22px;
font-weight: 700;
margin-bottom: 15px;
color: var(--dark_color);
}
.hikashop_product_page div.hikashop_small_image_div {
margin-top: 30px;
}

img.hikashop_child_image {
height: 55px !important;
}
.hikashop_product_page div.hikashop_small_image_div a.hikashop_active_thumbnail:hover {
border: 2px solid var(--hover_color);
}
.hikashop_product_page div.hikashop_small_image_div a.hikashop_active_thumbnail {
border: 2px solid var(--dark_color);
}
.view-product div.hikashop_small_image_div,
.view-category div.hikashop_small_image_div {
margin-top: 10px;
z-index: 999;
position: relative;
}
#hikashop_product_description_main {
margin-top: 80px;
}
#sidebar-main div.hikashop_container {
margin: 2px 0 !important;
}
#sidebar-main .hikashop_subcontainer a {
color: #4d6581;

font-weight: normal;
font-size: 16px;
}
#sidebar-main .hikashop_subcontainer a:hover {
color: var(--dark_color);
}
#sidebar-main .hikashop_subcontainer a::before {
content: "+";
margin-right: 5px;
}
.hkc-md-12.hikashop_category {
padding-left: 0 !important;
padding-right: 0 !important;
}

.hikabtn.hikacart {
font-size: 17px;
font-weight: 600;

line-height: 1.2;
background-color: var(--primary_color);
color: #ffffff;
transition: all 0.3s;
padding: 20px 40px;
border-radius: 30px;
border: none;
height: 60px;
line-height: 20px;
}
#hikashop_product_characteristics {
padding: 30px 0 0px 0;
}
div.hikashop_main_image_div,
div.hikashop_main_file_div {
height: 390px !important;
}
@media (min-width: 1200px) {
.com-hikashop.view-product.layout-listing #sp-main-body .container {
max-width: 1280px;
}
.com-hikashop.view-product.layout-listing #sp-component.col-lg-8 {
width: 72%;
}
.com-hikashop.view-product.layout-listing #sp-right.col-lg-4 {
width: 28%;
}
}
.com-hikashop.view-product.layout-listing .hikashop_product_image {
margin-bottom: -40px;
}
span.hikashop_product_name {
padding-bottom: 15px;
}
.hikashop_category_information .hikashop_zoom_hover .hikashop_subcontainer:hover {
transform: scale(1) !important;
box-shadow: 0 0 10px rgba(0,0,0,0) !important;
}
/*end shop*/

/*extra*/
.ul_li,
.ul_li_right,
.ul_li_center {
margin: 0px;
padding: 0px;
display: flex;
flex-wrap: wrap;
align-items: center;
}
.ul_li > li,
.ul_li_right > li,
.ul_li_center > li {
float: left;
list-style: none;
display: inline-block;
}

.ul_li {
justify-content: flex-start;
}

.ul_li_center {
justify-content: center;
}

.ul_li_right {
justify-content: flex-end;
}

.ul_li_block {
margin: 0px;
padding: 0px;
display: block;
}
.ul_li_block > li {
display: block;
list-style: none;
}

.service-boxes .service-box {
margin-top: 50px;
background-color: #fff;
padding: 50px;
position: relative;
}
@media (max-width: 1199px) {
.service-boxes .service-box {
padding: 40px 20px;
}
}
.service-boxes .service-box .icon {
margin-bottom: 30px;
}
.service-boxes .service-box .icon img {
max-width: 100px;
}
@media (max-width: 1199px) {
.service-boxes .service-box .icon img {
max-width: 80px;
}
}
.service-boxes .service-box h3 {
font-size: 26px;
font-weight: 600;
margin-bottom: 10px;
}
@media (max-width: 399px) {
.service-boxes .service-box h3 {
font-size: 22px;
}
}
.service-boxes .service-box-two:hover {
border: 3px solid var(--primary_color);
transition: all 0.3s ease-out 0s;
}
.service-boxes .service-box .service-link {
font-size: 40px;
margin-top: 25px;
line-height: 1;
color: var(--body_color);
}
.service-boxes .service-box::after {
position: absolute;
content: "";
left: 15px;
right: 15px;
bottom: -10px;
height: 10px;
background-color: #eceded;
-webkit-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
}
.service-boxes .service-box:hover::after {
background-color: var(--primary_color);
-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 74, 23, 0.3);
box-shadow: 0px 10px 30px 0px rgba(255, 74, 23, 0.3);
}
.service-boxes .service-box-two {
border-radius: 10px;
padding: 80px 15px 60px 15px;
background-color: #fff;
position: relative;
transition: all 0.3s ease-out 0s;
border: 3px solid #ffffff;
}
@media (max-width: 767px) {
.service-boxes .service-box-two {
padding: 30px 15px 50px;
}
}
.service-boxes .service-box-two .icon {
font-size: 75px;
color: var(--primary_color);
}
.service-boxes .service-box-two h3 {
font-size: 24px;
margin-top: 50px;
font-weight: 600;
}
.service-boxes .service-box-two:hover h3 a {
color: var(--hover_color);
}
.service-boxes .service-box-two h3 a {
color: var(--dark_color);
}
@media (max-width: 1199px) {
.service-boxes .service-box-two h3 {
font-size: 22px;
}
}
.service-boxes .service-box-two .service-link {
font-size: 14px;
margin-top: auto;
color: var(--body_color);
height: 45px;
width: 45px;
line-height: 45px;
border-radius: 50%;
background-color: #fff;
position: absolute;
bottom: 0;
left: 50%;
-webkit-transform: translate(-50%, 50%);
transform: translate(-50%, 50%);
z-index: 2;
-webkit-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
-webkit-box-shadow: 0px 10px 32px 0px rgba(197, 197, 197, 0.4);
box-shadow: 0px 10px 32px 0px rgba(197, 197, 197, 0.4);
}
.service-boxes .service-box-two:hover .service-link {
color: #fff;
background-color: var(--primary_color);
}
.service-boxes .service-box-two .service-link:hover i,
.service-boxes .service-box-two:hover .service-link i {
color: #fff;
}

@media (min-width: 1024px) {
.portfolio_fullimage {
height: 338px;
}
}

.portfolio_fullimage {
display: block;

overflow: hidden;
object-fit: cover;
position: relative;
}
.portfolio_fullimage:before {
left: 0;
right: 0;
bottom: 0;
height: 0;
z-index: 1;
content: "";
opacity: 0.95;
position: absolute;
transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
background-color: var(--primary_color);
}
.portfolio_fullimage img {
transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
width: 100%;
}
.portfolio_fullimage .details_link_icon {
top: 30px;
left: -70px;
width: 60px;
height: 60px;
position: absolute;
border-top-left-radius: 0px;
border-bottom-left-radius: 30px;
border-top-right-radius: 30px;
align-items: center;
display: inline-flex;
color: var(--primary_color);
justify-content: center;
background: #fff;
z-index: 999;
}
.portfolio_fullimage .details_link_icon i {
color: var(--primary_color);
}
.portfolio_fullimage .details_link_icon:before, .portfolio_fullimage .details_link_icon:after {
background-color: #ffffff;
}
.portfolio_fullimage .details_link_icon_2 {
top: 30px;
right: 30px;
opacity: 0;
z-index: 1;
color: #ffffff;
line-height: 1;
font-size: 40px;
position: absolute;
transform: rotate(0deg);
}
.portfolio_fullimage .item_content {
left: 0;
bottom: 0;
z-index: 2;
padding: 30px;
position: absolute;
}
.portfolio_fullimage .category_list {
margin-bottom: 5px;
}
ul.portfolio_fullimage .category_list,
.portfolio_fullimage .category_list.ul_li,
.portfolio_fullimage .category_list ul {
padding-left: 0;
margin-left: 0;
}
.portfolio_fullimage .category_list li {
position: relative;
list-style: none;
display: inline;
}
.portfolio_fullimage .category_list li:not(:last-child) {
margin-right: 4px;
padding-right: 2px;
}
.portfolio_fullimage .category_list a {
color: #ffffff;
font-size: 14px;
text-decoration: underline;
}
.portfolio_fullimage .category_list a:hover {
color: #ffffff;
}
.portfolio_fullimage .item_title {
color: #ffffff;
font-size: 20px;
font-weight: 600;
margin-bottom: 0;
}
.portfolio_fullimage .category_list,
.portfolio_fullimage .item_title {
opacity: 0;
z-index: 2;
transform: translateY(20px);
transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.portfolio_fullimage.big_item .item_title, .portfolio_fullimage.medium_item .item_title {
font-size: 30px;
}
.portfolio_fullimage.big_item {
height: 676px;
}
.portfolio_fullimage:hover:before {
height: 100%;
}
.portfolio_fullimage:hover img {
transform: scale(1.08);
}
.portfolio_fullimage .details_link_icon {
transition: all 0.4s ease-out 0s;
}
.portfolio_fullimage:hover .details_link_icon {
left: 30px;
transition-delay: 0.4s;
transition: all 0.3s ease-out 0s;
}
.portfolio_fullimage:hover .details_link_icon_2 {
opacity: 1;
transform: rotate(-45deg);
}
.portfolio_fullimage:hover .category_list,
.portfolio_fullimage:hover .item_title {
opacity: 1;
transform: translateY(0);
}
.portfolio_fullimage:hover .category_list {
transition-delay: 0.2s;
}
.portfolio_fullimage:hover .item_title {
transition-delay: 0.3s;
}

.portfolio_carousel_wrap {
padding-top: 40px;
}
.portfolio_carousel_wrap .carousel_arrow {
top: -110px;
}
.portfolio_carousel_wrap .portfolio_carousel {
width: 1605px;
}
.portfolio_carousel_wrap .portfolio_carousel .slick-list {
padding: 0 256px 0 0 !important;
}

















/*animations*/
@-webkit-keyframes float-bob-x {
0% {
-webkit-transform: translateX(-20px);
transform: translateX(-20px);
}

50% {
-webkit-transform: translateX(-10px);
transform: translateX(-10px);
}

100% {
-webkit-transform: translateX(-20px);
transform: translateX(-20px);
}
}

@keyframes float-bob-x {
0% {
-webkit-transform: translateX(-20px);
transform: translateX(-20px);
}

50% {
-webkit-transform: translateX(-10px);
transform: translateX(-10px);
}

100% {
-webkit-transform: translateX(-20px);
transform: translateX(-20px);
}
}

@-webkit-keyframes float-bob-y {
0% {
-webkit-transform: translateY(-20px);
transform: translateY(-20px);
}

50% {
-webkit-transform: translateY(-10px);
transform: translateY(-10px);
}

100% {
-webkit-transform: translateY(-20px);
transform: translateY(-20px);
}
}

@keyframes float-bob-y {
0% {
-webkit-transform: translateY(-20px);
transform: translateY(-20px);
}

50% {
-webkit-transform: translateY(-10px);
transform: translateY(-10px);
}

100% {
-webkit-transform: translateY(-20px);
transform: translateY(-20px);
}
}

@-webkit-keyframes preloader {
0% {
transform: perspective(160px) rotateX(0deg) rotateY(0deg);
-webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
}

50% {
transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
-webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
}

100% {
transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
-webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
}
}

@keyframes preloader {
0% {
transform: perspective(160px) rotateX(0deg) rotateY(0deg);
-webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
}

50% {
transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
-webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
}

100% {
transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
-webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
}
}

@-webkit-keyframes zoom-fade {
0% {
-webkit-transform: scale(0.9);
transform: scale(0.9);
}

50% {
-webkit-transform: scale(1.01);
transform: scale(1.01);
}

100% {
-webkit-transform: scale(0.9);
transform: scale(0.9);
}
}

@keyframes zoom-fade {
0% {
-webkit-transform: scale(0.9);
transform: scale(0.9);
}

50% {
-webkit-transform: scale(1.01);
transform: scale(1.01);
}

100% {
-webkit-transform: scale(0.9);
transform: scale(0.9);
}
}

@-webkit-keyframes rotateme {
from {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}

to {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}

@keyframes rotateme {
from {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}

to {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}

@-webkit-keyframes pulse-border {
0% {
-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
opacity: 1;
}

100% {
-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
opacity: 0;
}
}

@keyframes pulse-border {
0% {
-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
opacity: 1;
}

100% {
-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
opacity: 0;
}
}

.animate-float-bob-x {
-webkit-animation-name: float-bob-x;
animation-name: float-bob-x;
-webkit-animation-duration: 2s;
animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
}

.animate-float-bob-y {
-webkit-animation-name: float-bob-y;
animation-name: float-bob-y;
-webkit-animation-duration: 2s;
animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
}

.animate-zoom-fade {
-webkit-animation-name: zoom-fade;
animation-name: zoom-fade;
-webkit-animation-duration: 5s;
animation-duration: 5s;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
}

.animate-rotate-me {
-webkit-animation-name: rotateme;
animation-name: rotateme;
-webkit-animation-duration: 24s;
animation-duration: 24s;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
}

.consultation-form-one:before {
content: "";
position: absolute;
left: 15px;
bottom: -15px;
right: 15px;
height: 100%;
background-color: #ffffff;
opacity: 0.7;
border-radius: 12px;
z-index: -1;
}
/**/
.team-members .member-box {
position: relative;
z-index: 1;
}
.team-members .member-box::before {
position: absolute;
content: "";
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--primary_color);
border-radius: 7px;
transition: 0.4s;
transform: perspective(400px) rotateX(-90deg);
transform-origin: top;
border-radius: 6px;
z-index: 2;
opacity: 0;
}
.team-members .member-box .member-photo img {
width: 100%;
border-radius: 7px;
}
.team-members .member-box .member-info {
background-color: #ffffff;
border-radius: 7px;
padding: 25px 15px;
text-align: center;
transition: 0.4s;
position: absolute;
z-index: 3;
left: 20px;
right: 20px;
bottom: -10px;
opacity: 0;
visibility: hidden;
}
.team-members .member-box .member-info .name {
font-size: 20px;
margin-bottom: 8px;
line-height: 1.2;
}
.team-members .member-box .member-info .name a {
color: var(--primary_color);
}
.team-members .member-box .member-info .title {
color: var(--dark_color);
font-size: 15px;
font-weight: 500;
line-height: 1.3;
}
.team-members .member-box .member-info .social-links {
margin-top: 15px;
}
.team-members .member-box .member-info .social-links li {
display: inline-block;
margin: 0 2px;
visibility: hidden;
opacity: 0;
transform: rotateY(-70deg);
transform-origin: left;
position: relative;
left: 3px;
transition: all 0.3s linear;
}
.team-members .member-box .member-info .social-links li a {
display: block;
background-color: #e5eeff;
height: 35px;
width: 35px;
text-align: center;
line-height: 35px;
color: var(--primary_color);
border-radius: 50%;
font-size: 13px;
}
.team-members .member-box:hover::before {
opacity: 0.6;
-webkit-transform: perspective(400px) rotateX(0deg);
transform: perspective(400px) rotateX(0deg);
}
.team-members .member-box:hover .member-info {
opacity: 1;
visibility: visible;
bottom: 20px;
}
.team-members .member-box:hover .member-info .social-links li {
visibility: visible;
opacity: 1;
-webkit-transform: rotateY(0deg);
transform: rotateY(0deg);
}
.team-members .member-box:hover .member-info .social-links li {
transition-delay: 0.4s;
}
.team-members .member-box ul {
padding-left: 0;
}
/**/
.testimonial-box:hover {
border: 2px solid var(--hover_color);
transition: all 0.3s linear;
}
.testimonial-box {
background-color: #ffffff;
-webkit-box-shadow: 0px 10px 60px 0px rgba(73, 154, 250, 0.1);
box-shadow: 0px 10px 60px 0px rgba(73, 154, 250, 0.1);
padding: 45px;
position: relative;
z-index: 1;
border: 2px solid #ffffff;
transition: all 0.3s linear;
}

@media (max-width: 1199px) {
.testimonial-box {
padding: 40px 30px;
}
}

.testimonial-box .author-info-wrapper {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-bottom: 40px;
}

@media (max-width: 424px) {
.testimonial-box .author-info-wrapper {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
}
}

@media (max-width: 767px) {
.testimonial-box .author-info-wrapper {
margin-bottom: 30px;
}
}

.testimonial-box .author-info-wrapper .avatar {
-webkit-box-flex: 0;
-ms-flex: 0 0 65px;
flex: 0 0 65px;
margin-right: 20px;
}

@media (max-width: 424px) {
.testimonial-box .author-info-wrapper .avatar {
margin-right: 0;
margin-bottom: 20px;
}
}

.testimonial-box .author-info-wrapper .avatar img {
width: 65px;
height: 65px;
border-radius: 100px;
}

.testimonial-box .author-info-wrapper .name {
font-size: 18px;
font-weight: 600;
color: var(--dark_color);
}

@media (max-width: 1199px) {
.testimonial-box .author-info-wrapper .name {
font-size: 18px;
}
}

.testimonial-box .author-info-wrapper .title {
font-size: 16px;
font-weight: 500;
color: var(--hover_color);
line-height: 1;
}

@media (max-width: 1199px) {
.testimonial-box .author-info-wrapper .title {
font-size: 15px;
}
}
.testimonial-box .author-info-wrapper .rating {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
line-height: 1;
margin-top: 5px;
padding-left: 0;
}
.testimonial-box .author-info-wrapper .rating li {
margin-right: 5px;
font-size: 12px;
color: #ffae00;
list-style: none;
}
.testimonial-box .author-info-wrapper .rating ul {
padding-left: 0px;
margin-left: 0px;
}
.testimonial-box .content {
font-size: 16px !important;
font-style: italic;
font-weight: 400;
line-height: 1.6;
color: var(--body_color);

}

@media (max-width: 1199px) {
.testimonial-box .content {
font-size: 20px;
}
}
@media (max-width: 424px) {
.testimonial-box .content {
font-size: 18px;
}
}
.testimonial-box .quote-icon {
position: absolute;
z-index: -1;
right: 30px;
top: 30px;
line-height: 1;
opacity: 0.02;
}
@media (max-width: 1199px) {
.testimonial-box .quote-icon {
max-width: 180px;
}
}
/**/
/*steps*/
.our-step-boxes {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
position: relative;
z-index: 1;
}
.our-step-boxes .single-step-box {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
margin-top: 30px;
}
.our-step-boxes .single-step-box .step-box-inner {
text-align: center;
padding: 20px;
height: 200px;
width: 200px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
position: relative;
z-index: 1;
margin: 25px 10px 10px 5px;
}
.our-step-boxes .single-step-box .step-box-inner .title {
font-size: 20px;
line-height: 1.2;
font-weight: 700;
color: var(--primary_color);
}
.our-step-boxes .single-step-box .step-box-inner .icon {
font-size: 55px;
line-height: 0.5;
margin-bottom: 20px;
color: var(--primary_color);
}

.our-step-boxes .single-step-box:hover .step-box-inner .step-count {
background-color: var(--primary_color);
}
.our-step-boxes .single-step-box .step-box-inner .step-count {
position: absolute;
left: -5px;
top: -25px;
background-color: var(--dark_color);
color: #ffffff;
width: 75px;
height: 75px;
border-radius: 50%;
font-size: 30px;
font-weight: 700;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
z-index: 2;
}

.our-step-boxes .single-step-box .step-box-inner::before, .our-step-boxes .single-step-box .step-box-inner::after {
content: "";
position: absolute;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
background-color: var(--hover_color);
-webkit-box-shadow: 0px 10px 60px 0px rgba(38, 103, 255, 0.1);
box-shadow: 0px 10px 60px 0px rgba(38, 103, 255, 0.1);
border-radius: 50% 0 50% 50%;
z-index: -1;
transition: 0.3s;
}

.our-step-boxes .single-step-box .step-box-inner::after {
z-index: -2;
}

.our-step-boxes .single-step-box .step-box-inner:hover::after {
right: -10px;
bottom: -10px;
}
/**/

.partner-logo-grid {
border: 1px solid rgba(46, 39, 157, 0.1);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
border-right: none;
border-bottom: none;
}

.partner-logo-grid .single-partner {
text-align: center;
padding: 10px;
max-width: 25%;
-webkit-box-flex: 0;
-ms-flex: 0 0 25%;
flex: 0 0 25%;
height: 140px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
border: 1px solid rgba(46, 39, 157, 0.1);
border-top: none;
border-left: none;
}

@media (max-width: 991px) {
.partner-logo-grid .single-partner {
max-width: 33.33%;
-webkit-box-flex: 0;
-ms-flex: 0 0 33.33%;
flex: 0 0 33.33%;
}
}

@media (max-width: 767px) {
.partner-logo-grid .single-partner {
max-width: 50%;
-webkit-box-flex: 0;
-ms-flex: 0 0 50%;
flex: 0 0 50%;
}
}

@media (max-width: 424px) {
.partner-logo-grid .single-partner {
max-width: 100%;
-webkit-box-flex: 0;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
}
}

.partner-logo-grid .single-partner img {
opacity: 1;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
opacity: 0.5;
}

@media (max-width: 991px) {
.partner-logo-grid .single-partner img {
max-width: 75%;
}
}

.partner-logo-grid .single-partner a:hover img {
opacity: 1;
}

.partner-logo-grid.grid-border-white,
.partner-logo-grid.grid-border-white .single-partner {
border-color: rgba(255, 255, 255, 0.1);
}

.partner-logo-grid.grid-border-white img {
opacity: 1;
}

.partner-logo-box a {
background-color: #ffffff;
width: 100%;
height: 90px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
}
/**/
.pricing-table {
padding: 45px;
border: 1px solid var(--primary_color);
border-radius: 7px;
background-color: #ffffff;
position: relative;
}

.pricing-table, .pricing-table > * {
-webkit-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.pricing-table .plan-name {
font-size: 24px;
letter-spacing: -0.3px;
margin-bottom: 10px;
font-weight: 700;
color: var(--dark_color);
}

.pricing-table p {
margin-bottom: 20px;
margin-top: 35px;
}

.pricing-table .plan-price {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
margin-top: 10px;
margin-bottom: 35px;
font-size: 55px;
font-weight: 600;
color: var(--primary_color);
line-height: 1;
}

.pricing-table .plan-price .currency {
font-size: 24px;
position: relative;
top: 8px;
margin-right: 8px;
}

.pricing-table .template-btn {
padding: 13px 30px;
margin-bottom: 30px;
}

.pricing-table .feature-list li {
display: block;
font-size: 16px;
font-weight: 500;
line-height: 1.4;
color: var(--body_color);
}
.pricing-table ul.feature-list {
padding-left: 0;
margin-left: 0;
}
.pricing-table .feature-list li i {
margin-right: 5px;
color: var(--primary_color);
}

.pricing-table .feature-list li:not(:last-child) {
margin-bottom: 15px;
}

.pricing-table .feature-list li.disabled {
color: var(--body_color);
font-weight: 600;
}

.pricing-table .featured-label {
position: absolute;
right: -1px;
top: -1px;
background-color: var(--hover_color);
font-size: 15px;
font-weight: 700;
line-height: 1;
color: #ffffff;
text-transform: uppercase;
padding: 6px 15px 6px 20px;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10px 50%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10px 50%);
}

.pricing-table.featured-plan,
.pricing-table:hover {
border-color: transparent;
-webkit-box-shadow: 0px 20px 100px 0px rgba(58, 65, 111, 0.1);
box-shadow: 0px 20px 100px 0px rgba(58, 65, 111, 0.1);
}

.pricing-table.featured-plan .template-btn,
.pricing-table:hover .template-btn {
background-color: var(--primary_color);
color: #ffffff;
}
.pricing-table .template-btn {
color: #ffffff;
text-align: center;
vertical-align: middle;
background-color: var(--primary_color);
border: none;
padding: 15px 35px;
font-size: 18px;
font-weight: 700;
line-height: 1.4;
border-radius: 5px;
transition: all 0.3s ease-in-out;
margin-bottom: 15px;
}

.pricing-table .template-btn i {
margin-left: 6px;
position: relative;
top: 1px;
}

.pricing-table .template-btn:hover {
color: #ffffff;
background-color: var(--hover_color);
}

.pricing-table .template-btn.bg-primary-10 {
background-color: var(--primary_color);
color: #ffffff
}

.pricing-table .template-btn.bg-primary-10:hover {
background-color: var(--primary_color);
color: #ffffff;
}

.pricing-table .template-btn.bordered-btn {
padding: 13px 35px;
border: 2px solid rgba(11, 20, 96, 0.1);
background-color: transparent;
color: var(--hover_color);
border-top-left-radius: 0px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
}

.template-btn.bordered-btn:hover {
background-color: var(--primary_color);
color: #ffffff;
}

.pricing-table .template-btn.bordered-btn.bordered-white {
border-color: #ffffff;
color: #ffffff;
}

.pricing-table .template-btn.bordered-btn.bordered-white:hover {
background-color: #ffffff;
color: var(--hover_color);
}
.dr-right {
float: right;
}
/**/
.zindex-top {
z-index: 9999 !important;
position: relative !important;
}

.zindex-under {
z-index: 1 !important;
position: relative !important;
}
.zindex-under2 {
z-index: 0 !important;
position: relative !important;
}
.opacity94 .sppb-column-overlay {
opacity: 94% !important;
}

/*end extra*/